<header class="row">
  <design-panel ng-if="user.isOwner || user.isCollaborator"></design-panel>
</header>

<div class="row">
  <div class="medium-10 push-2 columns" id="page-view">
    <application-view>
      <translate>LOADING_DOTS</translate>
    </application-view>
  </div>

  <nav class="medium-2 pull-10 columns">
    <app-logo></app-logo>
    <b style="font-size: 14px" translate>LANGUAGE</b>
    <language-selector-nav show-flags="true"></language-selector-nav>
  </nav>
</div>

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <div class="medium-6 columns">
        <p>&copy; <translate>COPYRIGHT</translate> 2015</p>
      </div>
    </div>
  </div>
</footer>
<div class="row">
  <div ng-if="user.isLoggedIn">
    <logout-button></logout-button>
    <translate>LOGGED_IN_AS</translate> {{user.name }} ({{user.email}})
  </div>
  <login-google-button ng-if="!user.isLoggedIn"></login-google-button>
</div>
