<div class="row">
  <design-panel ng-if="user.isOwner || user.isCollaborator"></design-panel>
</div>
<!-- 
<div class="row">
  <design-panel></design-panel>
</div>
 -->

<div class="row">
  <!-- <login-google-button ng-if="!user.isLoggedIn"></login-google-button> -->
  <widget type="v2.topbar" instanceName="AppTopbar" skin="true"></widget>
</div>

<!-- <div class="row"  style="border-bottom:0.1rem solid #ddd; width:100%; margin:0 0 1em 0;">
  <language-selector-nav show-flags="true" show-titles="true"></language-selector-nav>
</div>
 -->
<!-- <div class="row">
  <widget-holder name="app"></widget-holder>
</div> -->

<div class="row">
  <div id="page-view" style="margin:1em;">
    <application-view>
      <translate>LOADING_DOTS</translate>
    </application-view>
  </div>

  <!-- <nav class="medium-2 pull-10 columns"> -->
    <!-- <app-logo></app-logo> -->
    <!-- <page-list-nav></page-list-nav> -->
    <!-- <b style="font-size: 14px" translate>LANGUAGE</b> -->
    <!-- <language-selector-nav show-flags="true"></language-selector-nav> -->
  <!-- </nav> -->
</div>

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <center>
        <a href="https://www.mongodb.org"  alt="mongodb.org" target="_blank"><img src="/img/mongodb.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="https://www.nodejs.org"  alt="nodejs.org" target="_blank"><img src="/img/nodejs.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://sailsjs.org"  alt="sailsjs.org" target="_blank"><img src="/img/sails1.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://foundation.zurb.com"  alt="foundation.zurb.com" target="_blank"><img src="/img/foundation5.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://angularjs.org"  alt="angularjs.org" target="_blank"><img src="/img/angular.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://facebook.github.io/react/"  alt="facebook.github.io/react/" target="_blank"><img src="/img/reactjs.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href=""  alt="" target="_blank"><img src="/img/dj.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://d3js.org"  alt="d3js.org" target="_blank"><img src="/img/d3.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://nvd3.org"  alt="nvd3.org" target="_blank"><img src="/img/novus.png" width="32px" style="margin: 0 0.2em"/></a>
        <span style="font-size: small;"> 
          and <a href="dependencies.html" target="_blank">more...</a>
        </span>
      </center>
    </div>
    <div class="row">
      <div class="columns" style="text-align: right;">
        <p style="font-size:x-small; margin: 0;"> 
        Copyright &copy; 2014-2016 <a href="mailto:boldak.andrey@gmail.com">Andrey Boldak</a>. 
        </p>
        <p style="font-size:x-small"> Licensed under the terms of the 
        <a href="license.html" target="_blank">MIT License</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="row">
  <div ng-if="user.isLoggedIn">
    <logout-button></logout-button>
    <translate>LOGGED_IN_AS</translate> {{user.name }} ({{user.email}})
  </div>
  <login-google-button ng-if="!user.isLoggedIn"></login-google-button>
</div> -->
