<style>
.zurb-footer-top.bg-fblue {
    background: #45552e;/*#074e68;*/
}
.zurb-footer-top, .zurb-footer-top h3, .zurb-footer-top h4, .zurb-footer-top a {
    padding: 10px 0;
    color:#c3cec4;/*#aeaeae;*/
}

.zurb-footer-top a:hover, .zurb-footer-top a:focus{
    color: #f2fff3 !important;/*#afafaf;*//*#5e666c*/;
}

.zurb-footer-bottom {
    background: #333;/*#2c3840;*/
    padding: 10px 0 10px;
    color: #c3cec4;/*#afafaf;*//*#5e666c*/;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.zurb-footer-bottom  a{
    color: #c3cec4;
}

.zurb-footer-bottom  a:hover, .zurb-footer-bottom  a:focus{
    color: #f2fff3 !important;
}

.zurb-footer-bottom .zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
}

.learn-links ul {
    margin-left: 0;
    list-style-type: none;
    line-height: 1;
    font-stretch: condensed;
}

.learn-links ul li{
    margin: 0 0 0.5em;
}

h1, h2, h3, h4, h5, a{
  color: #45552E;
}
.skin-color{
  color: #45552E;
}

.has-tip:hover, .has-tip:focus {
    /*border-bottom: dotted 1px #003f54;*/
    color: #45552e;
}
 a:hover, a:focus {
   color: #45552e;
  /*color:#fff;*/
  /*background: #6a8247;*/
}

button.success, .button.success {
    background-color: #6a8247;
    border-color: #45552e;
    color: #ffffff;
}
    
button.success:hover, 
button.success:focus, 
.button.success:hover, 
.button.success:focus {
    background-color: #45552e;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f6f8f4;
}

/*table thead {
    background: ##f6f8f4;
}*/
table thead {
    background: #d5dccb;
}

table thead tr th, table thead tr td {
    color: #485831;
    /*font-size: 0.875rem;*/
    font-weight: bold;
    /*padding: 0.5rem 0.625rem 0.625rem;*/
}

table tr th, table tr td {
    padding: 0.2rem 0.5rem;
    /* font-size: 0.875rem; */
    color: #45552e;
    text-align: left;
    border: 1px solid #84a258;
   /* border-right: 1px solid #84a258;*/
}


h1.panel, h2.panel, h3.panel, h4.panel,  h5.panel, i.panel {
    background-color: #6a8247;
    border-style: none;
    /*border-color: #45552e;
*/    color: #e9e9e9;
}

.tag{
    border: 0.1rem solid #6a8247;
    color: #6a8247;
    background: #e9e9e9;
}

.tagPanel {
  border: 1px solid #6a8247;
  background: #f5f5f5;
}

div.tags{
  background: #6a8247;
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    color: #e7e7e7;
    display: block;
    font-weight: normal;
    padding: 0 0.9375rem;
    font-size: x-large;
}


</style>

<div id="scroll-container">
<!-- <div class="row">
  <design-panel ng-if="user.isOwner || user.isCollaborator"></design-panel>
</div> -->

<div class="row" ng-if="globalConfig.designMode">
  <design-panel></design-panel>
</div>
<!-- <div class="row">
  <widget type="v2.banner" instanceName="Banner" skin="true"></widget>
</div> -->
<div class="row">
  <!-- <login-google-button ng-if="!user.isLoggedIn"></login-google-button> -->
  <widget type="v2.topbar" instanceName="AppTopbar" skin="true"></widget>
</div>
<!-- <div class="row">
  <widget type="v2.banner" instanceName="Banner" skin="true"></widget>
</div> -->
<!-- <div class="row"  style="border-bottom:0.1rem solid #ddd; width:100%; margin:0 0 1em 0;">
  <language-selector-nav show-flags="true" show-titles="true"></language-selector-nav>
</div>
 -->
<!-- <div class="row">
  <widget-holder name="app"></widget-holder>
</div> -->

<div class="row">
  <div id="page-view" style="margin:0 1em;">
    <application-view>
      <translate>LOADING_DOTS</translate>
    </application-view>
  </div>

  <!-- <nav class="medium-2 pull-10 columns"> -->
    <!-- <app-logo></app-logo> -->
    <!-- <page-list-nav></page-list-nav> -->
    <!-- <b style="font-size: 14px" translate>LANGUAGE</b> -->
    <!-- <language-selector-nav show-flags="true"></language-selector-nav> -->
  <!-- </nav> -->
</div>

<!-- <footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <center>
        <a href="https://www.mongodb.org"  alt="mongodb.org" target="_blank"><img src="/img/mongodb.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="https://www.nodejs.org"  alt="nodejs.org" target="_blank"><img src="/img/nodejs.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://sailsjs.org"  alt="sailsjs.org" target="_blank"><img src="/img/sails1.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://foundation.zurb.com"  alt="foundation.zurb.com" target="_blank"><img src="/img/foundation5.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://angularjs.org"  alt="angularjs.org" target="_blank"><img src="/img/angular.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://facebook.github.io/react/"  alt="facebook.github.io/react/" target="_blank"><img src="/img/reactjs.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href=""  alt="" target="_blank"><img src="/img/dj.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://d3js.org"  alt="d3js.org" target="_blank"><img src="/img/d3.png" width="32px" style="margin: 0 0.2em"/></a>
        <a href="http://nvd3.org"  alt="nvd3.org" target="_blank"><img src="/img/novus.png" width="32px" style="margin: 0 0.2em"/></a>
        <span style="font-size: small;"> 
          and <a href="dependencies.html" target="_blank">more...</a>
        </span>
      </center>
    </div>
    <div class="row">
      <div class="columns" style="text-align: right;">
        <p style="font-size:x-small; margin: 0;"> 
        Copyright &copy; 2014-2016 <a href="mailto:boldak.andrey@gmail.com">Andrey Boldak</a>. 
        </p>
        <p style="font-size:x-small"> Licensed under the terms of the 
        <a href="license.html" target="_blank">MIT License</a>
        </p>
      </div>
    </div>
  </div>
</footer> -->

</div>
<!-- <div class="row">
  <div ng-if="user.isLoggedIn">
    <logout-button></logout-button>
    <translate>LOGGED_IN_AS</translate> {{user.name }} ({{user.email}})
  </div>
  <login-google-button ng-if="!user.isLoggedIn"></login-google-button>
</div> -->





<div class="zurb-footer-top bg-fblue layout-default">
  <div class="row property">
    <div class="medium-6 columns">
      <div class="property-info">
          <h3>
            <img src="{{(config.icon)?config.icon:'./img/default-app-icon.png'}}" style="height: 48px;margin: 0 0.2em 0 0;"/> 
             {{config.title | translate}}<!-- SSE ChNPP Open Data -->
          </h3>
          <p>{{config.description | translate}}</p>
            <!-- SSECHNPP Open Data є спільним проектом ДСП "Чорнобильська АЕС" та Світового центру даних "Геоінформатика та сталий розвиток", мета якого забезпечити відкритий доступ до даних інтегрованої автоматизованої системи моніторингу об'єкту "Укриття" Чорнобильської АЕС. Ці дані можуть бути використані міжнародною науковою спільнотою для проведення різноманітних міждисциплінарних досліджень. --><!-- 
          SSE ChNPP Open Data is the data portal based on DJ platform that provides over 100 dataset about integrated security monitoring system (IAMS) of Chernobyl Nuclear Power Plant. You can search, analyze and use this data for interdisciplinary research.
          Data is tagged by type of measurements, periodicity, device location and IAMS subsystems. Rich metadata about datasets is available.
          We provides demo for easy to use data processing and data mining via DJ Data Processing Script
          You can use online Single Page App builder for developing interactive reports about your research results   -->
      </div>
      <div ng-if="user.isAdmin" style="padding: 0.5em;border: 1px solid; width: 50%;">
        <h4 class="hide-for-small" style="margin: 0; padding: 0;"><img src="./img/sseopen.png" style="height: 36px;margin: 0 0.2em 0 0;"/> Administrator area</h4>
         <div style="margin: 0 0 0 3em">
          <div>
            <a href="./app/SSEChNPP-apps" target="_blank" style="font-size: small;line-height: 1;padding: 0;"><i class="fi-widget"></i> App Management </a>
           </div>
          <div>
            <a href="./app/SSEChNPP-data" target="_blank" style="font-size: small;line-height: 1;padding: 0;"><i class="fi-widget"></i> Data Management </a>  
          </div>
         </div>
      </div>
    </div>

    <div class="medium-6 columns">
      <div class="row collapse">
        <div class="medium-6 columns">
          <div class="learn-links">
            <h4 class="hide-for-small">Organizations</h4>
              <div class="row" style="padding: 0.3em 0;">
                <div class="medium-2 columns" style="padding:0;">
                    <img src="./img/ssechnpp.png" style="height:24px">
                </div>
                <div class="medium-10 columns" style="padding: 0.1em 0 0 0.2em;">
                    <a href="http://chnpp.gov.ua/en/" target="_blank" style="font-size:small; line-height:1">
                      SSE ChNPP
                    </a>
                </div>
              </div>
              <div class="row" style="padding: 0.3em 0;">
                <div class="medium-2 columns" style="padding:0;">
                    <img src="./img/wdcfooter.png" style="width:48px">
                </div>
                <div class="medium-10 columns" style="padding: 0.5em 0 0 0.2em;
    font-size: small;
    line-height: 1;">
                    <a href="http://wdc.org.ua" target="_blank" style="font-size:small; line-height:1">
                      WDC for Geoinformatics and Sustainable Development
                    </a>
                </div>
              </div>
              <div class="row" style="padding: 0.3em 0;">
                <div class="medium-2 columns" style="padding:0;">
                    <img src="./img/kpifooter.png" style="height:48px">
                </div>
                <div class="medium-10 columns" style="    padding: 0.8em 0 0 0.2em;
    font-size: small;
    line-height: 1;">
                    <a href="http://kpi.ua" target="_blank" style="font-size:small; line-height:1">
                      NTU of Ukraine "Igor Sikorsky Kyiv Polytechnic Institute"
                    </a>
                </div>
              </div>
              <div class="row" style="padding: 0.3em 0;">
                <div class="medium-2 columns" style="padding:0;">
                    <img src="./img/icsufooter.png" style="height:48px" style="padding:0;">
                </div>
                <div class="medium-10 columns" style="    padding: 0.6em 0 0 0.2em;">
                    <a href="https://www.icsu-wds.org/" target="_blank" style="font-size:small; line-height:1">
                     ICSU World Data System
                    </a>
                </div>
              </div>

              <!-- <ul style="margin-left: 0; list-style-type: none;">
                <li>
                  <a href="http://chnpp.gov.ua/en/" target="_blank">
                    <img src="./img/ssechnpp.png" style="height:24px">
                    SSE ChNPP
                  </a>
                </li>
                <li>
                  <img src="./img/wdcfooter.png" style="height:24px">
                  <a href="http://wdc.org.ua"  target="_blank">
                  World Data Center for Geoinformatics and Sustainable Development
                  </a></li>
                <li>
                  <img src="./img/kpifooter.png" style="height:24px">
                  <a href="http://kpi.ua"  target="_blank">
                    NTU of Ukraine "Igor Sikorsky Kyiv Polytechnic Institute"
                  </a>
                </li>
                <li>
                  <img src="./img/icsufooter.png" style="height:24px">
                  <a href="https://www.icsu-wds.org/"  target="_blank">
                    ICSU World Data System
                  </a>
                </li>
              </ul> -->


          </div>
        </div>
        <div class="medium-3 columns">
          <div class="support-links">
            <h4 class="hide-for-small">Talk to us</h4>
              <p>Tweet us at <br> <a href="https://twitter.com/SSEChNPPopen" target="_blank">@SSEChNPPopen</a></p>
          </div>
        </div>
        <div class="medium-3 columns">
          <div class="learn-links">
            <h4 class="hide-for-small">Contact Us</h4>
              <ul>
              <li><a href="mailto:SSEChNPPopen@wdc.org.ua"  target="_blank"><i class="fi-mail"/> Administration</a></li>
              <li><a  href="mailto:boldak.andrey@gmail.com" target="_blank"><i class="fi-mail"/> Data management</a></li>
              <li><a href="mailto:pyshnograiev@wdc.org.ua" target="_blank"><i class="fi-mail"/> Technical support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="zurb-footer-bottom"> 
 <div class="row">
    <div class="medium-6 columns">
    </div>  
    <div class="medium-6 columns">
      <div class="medium-4 columns right">
        <p style="font-size:x-small; margin: 0;"> 
          Developed by <a href="http://wdc.org.ua" target="_blank">WDC Data Mining Lab</a>. 
        </p>
        <p style="font-size:x-small; margin: 0;">Designed by <a href="mailto:alina.kalapa@ukr.net" target="_blank">Alina Kalapa</a>
        </p>
      </div>  
    </div>  
 </div>
 
 <div class="row" style="margin: 0.3em 0;">
    <div class="medium-4 columns">
    </div>  
    <div class="medium-4 columns">
      <div class="medium-6 columns">
        <p style="margin: 0 0 0 1em;"> Based on <a href="./app/Apps/about" target="_blank"><img src="./img/dj.png" style="height:24px;"/> platform </a></p>
      </div>
      <div class="medium-6 columns" style="padding:0 0 0 0.6em;">
        <p style="font-size:x-small; margin: 0;"> 
          Copyright &copy; 2014-2017 <a href="mailto:boldak.andrey@gmail.com" target="_blank">Andrey Boldak</a>. 
        </p>
        <p style="font-size:x-small; margin: 0;"> Licensed under the terms of the 
          <a href="./license.html" target="_blank">MIT License</a>
        </p>
      </div>  
    </div>  
  </div>
    
</div>  