<h4>Widget Settings Wizard</h4>
<tabset>
    <tab heading="General Settings" ng-click="dialog.tryGotoStep(0)" active="dialog.step[0].active" ng-style="dialog.getStyle(0)">
        <div class="panel" style="font-size:small;">
            <div class="row">
                <h5>Select Widget Name and Datasource</h5>
                <div class="columns left  medium-4 container-top" style="font-size: small; padding-bottom:1rem;">
                    <label>Widget name:<input type="text" ng-model="dialog.instanceName"></label>
                </div>
                <div class="columns left  medium-4 container-top" style="font-size: small; padding-bottom:1rem;">
                    <label>Datasource:<input type="text" ng-model="dialog.datasource"/></label>
                </div>
            </div>
            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.setState(0)">Next</button>
            </div>
        </div>
    </tab>
    <tab heading = "Select Dataset" ng-click="dialog.tryGotoStep(1)" active="dialog.step[1].active" ng-style="dialog.getStyle(1)">
        <div class="panel" style="font-size:small;">

            <div class="panel">
                    <label style="font-size:small;">
                        Datasource:&nbsp;
                        <a target="_blank" href="{{dialog.provider.dataURL}}"> {{dialog.provider.dataURL}}</a>
                        ( format: <a target="_blank" href="{{dialog.provider.dataFormatRef}}"> {{dialog.provider.dataFormat}}</a> )
                    </label>
            </div>
            <div class="panel">
                <h5>Select Dataset:</h5>
                <div class="row" style="font-size:smaller; padding:0 1rem 0 1rem; margin:0">
                    <div ng-click="dialog.setState(2,dataset)" ng-repeat="dataset in dialog.datasetList" style="cursor:pointer;" class="border column left  medium-3 container-top"  ng-style="dialog.getDatasetStyle(dataset)">
                        <label style="font-size:medium;font-weight: bold">
                            {{dialog.provider.getDatasetLabel(dataset)}}
                        </label>
                        <label style="font-size:smaller"><b>Source:</b> {{dialog.provider.getDatasetSource(dataset)}}</label>
                        <label style="font-size:smaller"><b>Updated:</b> {{dialog.provider.getDatasetUpdated(dataset)}}</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.gotoStep(2)">Next</button>
            </div>
        </div>
    </tab>

    <tab heading="Select Data"  ng-click="dialog.tryGotoStep(2)" active="dialog.step[2].active" ng-style="dialog.getStyle(2)">
        <div class="panel">
            <label style="font-size:small;">
                Dataset:&nbsp;{{dialog.provider.getDatasetLabel(dialog.selection.dataset)}}
            </label>
        </div>
        <div class="panel">
            <h5>Select Dimension's Items</h5>
            <div class="panel" ng-repeat=" dim in dialog.provider.getDimensionList(dialog.selection.dataset)">
                <div class="row" ng-if="!dialog.autoselect(dialog.selection.dataset, dim)">
                    <div>
                        <label style="padding: 0 0 0.2rem 0; font-size: small; float:left;">
                            Dimension: <b>{{dialog.provider.getDimensionLabel(dialog.selection.dataset,dim)}}&nbsp;[&nbsp;{{dim}}&nbsp;]&nbsp;</b>
                            <span style="font-size:smaller">({{dialog.selection.dimensions[dim].length()}} form {{dialog.provider.getDimensionIdList(dialog.selection.dataset, dim).length}} items selected)</span>
                        </label>
                        <label class="right" style="padding: 0 0 0.2rem 0;">
                            <button ng-click="dialog.selectAllCategories(dim)" class="button tiny radius" style="margin-bottom:0;padding-top:0.2rem; padding-bottom:0.2rem;">Select All</button>
                            <button ng-click="dialog.unselectAllCategories(dim)" class="button tiny radius" style="margin-bottom:0;padding-top:0.2rem; padding-bottom:0.2rem;">Clear</button>
                        </label>
                    </div>


                    <div class="columns left  medium-3 container-top" style="font-size: smaller; vertical-align: middle;"  ng-repeat="m in dialog.provider.getDimensionIdList(dialog.selection.dataset, dim)">
                        <input type="checkbox"  ng-click="dialog.selectCategory(dim,m)" ng-checked="dialog.selection.dimensions[dim].contains(m)" style="margin-bottom: 0">
                        <a ng-click="dialog.selectCategory(dim,m)">&nbsp;{{dialog.provider.getCategoryLabel(dialog.selection.dataset,dim,m)}}&nbsp;[&nbsp;{{m}}&nbsp;]</a>
                    </div>
                </div>

                <div class="row" ng-if="dialog.autoselect(dialog.selection.dataset, dim)">
                    <label style="padding: 0 0 0.2rem 0; font-size: small; float:left;">
                        Dimension: <b>{{dialog.provider.getDimensionLabel(dialog.selection.dataset,dim)}}
                            &nbsp;[&nbsp;{{dim}}&nbsp;]&nbsp;
                            =&nbsp;{{dialog.provider.getCategoryLabel(dialog.selection.dataset,dim,dialog.selection.dimensions[dim].collection[0])}}
                            &nbsp;[&nbsp;{{dialog.selection.dimensions[dim].collection[0]}}&nbsp;]&nbsp;</b>
                        <span style="font-size:smaller">(1 from 1 item autoselected)</span>
                    </label>
                </div>
            </div>

            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-disabled="!dialog.readyForDataFetch()" ng-click="dialog.setState(3)">Next</button>
            </div>

        </div>
    </tab>


    <tab heading="Show Data"  ng-click="dialog.tryGotoStep(3)" active="dialog.step[3].active" ng-style="dialog.getStyle(3)">
        <div ng-if="dialog.state >= 3">
        <div class="panel">
            <label style="font-size:small;">
                Total: {{dialog.selection.result.header.length}} columns, {{dialog.selection.result.data.length}} rows
            </label>
        </div>
        <div class="panel" style="overflow: auto">
            <h5>Data</h5>
            <table cellpadding="0px" cellspacing="0px" style="padding: 0px; margin: 0px;">
                <thead>
                <tr>
                    <th  ng-repeat="h in dialog.selection.result.header">
                        {{h}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in dialog.selection.result.data">
                    <td ng-repeat="h in dialog.selection.result.header" >
                        {{(r[h])?r[h]:' - '}}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.gotoStep(4)">Next</button>
            </div>
        </div>
        </div>
    </tab>

    <tab heading="Define Role for Attributes"  ng-click="dialog.tryGotoStep(4)" active="dialog.step[4].active" ng-style="dialog.getStyle(4)">
        <div ng-if="dialog.state >= 3">
        <div class="panel">
            <h5>Select Role for Attributes</h5>
            <div class="panel">
                <div class="row">
                    <div ng-style="dialog.getFieldStyle(f)" ng-repeat="f in dialog.selection.result.header" class="columns left  medium-3 container-top border">
                        <label ng-style="dialog.getFieldStyle(f)">{{f}} <span style="font-size: small"> as </span></label>
                        <select ng-model="dialog.selection.fields[f]" ng-change="dialog.changeFieldRole(f)">
                            <option>Not Used</option>
                            <option>Serie</option>
                            <option>Label</option>
                            <option>Value</option>
                        </select>
                    </div>
                </div>
            </div>
            <h5>Select Ordering Options</h5>
            <div class="panel">
                <div class="row">
                    <div class="columns left  medium-4 container-top" style="font-size: small; padding-bottom:1rem;">
                        <label> <b>Order series by serie key</b>
                            <select ng-model="dialog.selection.seriesOrder" ng-change="dialog.setState(3)">
                                <option>None</option>
                                <option>A-Z</option>
                                <option>Z-A</option>
                            </select>
                        </label>
                    </div>
                    <div class="columns left  medium-4 container-top" style="font-size: small; padding-bottom:1rem;">
                        <label> <b>Order serie items by</b>
                            <select ng-model="dialog.selection.itemsOrder" ng-change="dialog.setState(3)">
                                <option>None</option>
                                <option>Value (A-Z)</option>
                                <option>Value (Z-A)</option>
                                <option>Label (A-Z)</option>
                                <option>Label (Z-A)</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button ng-disabled="!dialog.readyForSeriesGeneration()" class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.setState(4)">Next</button>
            </div>
        </div>
        </div>
    </tab>



    <tab heading="Show Series"  ng-click="dialog.tryGotoStep(5)" active="dialog.step[5].active" ng-style="dialog.getStyle(5)">
        <div ng-if="dialog.state >= 4 || dialog.step[5].access == 'enable'">
        <div class="panel">
            <label style="font-size:small;">
                Total: {{dialog.selection.series.length}} series
            </label>
        </div>
        <div class="panel" style="font-size:small;">
            <h5>Series</h5>
            <div  class="row border" ng-repeat="serie in dialog.selection.series" style="overflow: auto">
                <label style="font-size:medium;font-weight: bold">
                    Serie: {{serie.key}}
                </label>
                <table cellpadding="0px" cellspacing="0px" style="padding: 0px; margin: 0px;">
                    <thead>
                    <tr>

                        <th  ng-repeat="v in serie.values">
                            {{v.label}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td ng-repeat="v in serie.values">
                            {{(v.value)?v.value:' - '}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.gotoStep(6)">Next</button>
            </div>
        </div>
        </div>
    </tab>

    <tab heading="Set Chart Options"  ng-click="dialog.tryGotoStep(6)" active="dialog.step[6].active" ng-style="dialog.getStyle(6)">
        <div ng-if="dialog.state >= 4 || dialog.step[6].access == 'enable'">
        <div class="panel">
            <h5>Data Settings</h5>
            <div class="row border">
                <label class="left">Save Data in Widget Configuration (Standalone Mode): &nbsp;&nbsp; </label>
                <div class="switch tiny">
                    <input type="checkbox"
                           id="standaloneCheckbox"
                           ng-model="dialog.selection.standalone">
                    <label for="standaloneCheckbox"></label>
                </div>
            </div>
            <h5>Chart Size</h5>
            <div class="row border">
                <div class="columns left  medium-5 container-top" style="font-size: small; padding-bottom:1rem;">
                    <label>Height
                        <input type="number" ng-model="dialog.decoration.height">
                    </label>
                </div>
            </div>
            <h5>Titles</h5>
            <div class="row border">
                    <label>Title
                        <input type="text" ng-model="dialog.decoration.title">
                    </label>
                    <label>Subtitle
                        <input type="text" ng-model="dialog.decoration.subtitle">
                    </label>
                    <label>Caption
                        <input type="text" ng-model="dialog.decoration.caption">
                    </label>
            </div>

            <h5>Pie</h5>
            <div class="row border">
                <div class="column left  medium-3">
                    <label class="left">Donut: &nbsp;&nbsp; </label>
                    <div class="switch tiny">
                        <input type="checkbox"
                               id="donutCheckbox"
                               ng-model="dialog.decoration.donut">
                        <label for="donutCheckbox"></label>
                    </div>
                    <br/>

                    <label ng-if="dialog.decoration.donut">Donut Ratio:&nbsp;&nbsp;
                        <input class="left" type="number" ng-model="dialog.decoration.donutRatio">
                    </label>
                </div>

                <div class="column left  medium-5">
                    <label class="left">Show Labels Outside: &nbsp;&nbsp; </label>
                    <div class="switch tiny">
                        <input type="checkbox"
                               id="labelsOutsideCheckbox"
                               ng-model="dialog.decoration.labelsOutside">
                        <label for="labelsOutsideCheckbox"></label>
                    </div>
                    <br/>
                    <label class="left">Show Value as Label: &nbsp;&nbsp; </label>
                    <div class="switch tiny">
                        <input type="checkbox"
                               id="valueAsLabelCheckbox"
                               ng-model="dialog.decoration.valueAsLabel">
                        <label for="valueAsLabelCheckbox"></label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:0; margin-bottom:0; padding-bottom: 0;padding-top: 0;">
                <button class="button tiny alert right" style="margin:0 0 0 0.3rem" ng-click="cancel()">Cancel</button>
                <button class="button tiny right" style="margin:0 0 0 0.785rem" ng-click="dialog.setState(5)">Finish</button>
            </div>

        </div>
        </div>
    </tab>
</tabset>
