# Version Control
.git

# Docker
docker-compose.yml

# Packages
jspm_packages
bower_components
node_modules

# Build
.tmp
docs

# Tests
test
karma.conf.js
protractor.conf.js

# Project files
.idea
wdc.iml

