# Local Configuration
config/local.js

# Dependencies
node_modules
bower_components

# Sails.js / Waterline / Grunt
.tmp
dump.rdb

# Node.js / NPM
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

# Intellij IDEA
.idea/

# Documentation
/docs
