<h2 class="page-title">{{config.title}}</h2>
<style>
  .left-right-bottom-table {
    width: 100%;
  }
  .left-right-bottom-table td {
    vertical-align: top;
  }
</style>
<table class="left-right-bottom-table">
  <tr>
    <td>
      <widget-holder name="topleft"></widget-holder>
    </td>
    <td>
      <widget-holder name="topright"></widget-holder>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
      <widget-holder name="bottom"></widget-holder>
    </td>
  </tr>
</table>

Config: <br>
<pre>{{configStr}}</pre>