<div ng-controller="AppImporterController">
  <form ng-if="user.isLoggedIn">
    <h3 widget-translate>IMPORT_APP</h3>
    <label>
      <widget-translate>CHOOSE_APP_NAME</widget-translate>
      <input type="text"
             class="left"
             placeholder="{{'WIDGET.APP-CREATOR.APP_NAME' | translate }}"
             name="appName"
             ng-model="model.newAppName" autocomplete="off">
    </label>
    <label>
      <widget-translate>CHOOSE_FILE_FOR_IMPORT</widget-translate>
      <input type="file"
             name="file"
             class="file"
             onchange="angular.element(this).scope().setImportFile(this.files[0])"
             required>
    </label>
    <input type="submit"
           widget-translate
           translate-attr-value="TO_IMPORT"
           class="button success tiny"
           ng-disabled="!importFile || !model.newAppName"
           ng-click="importApp()">
  </form>
  <div ng-if="!user.isLoggedIn" widget-translate>
    YOU_NEED_TO_LOGIN_TO_IMPORT_APPS
  </div>
</div>
