<div  class="row" ng-controller="EventViewerController" style="margin:0 0.5em;">

  <div ng-if = "context">

    <h4 ng-if="widget.showDetails.timestamp" style="
        color: #7f7f7f;
        font-weight: bold;
        /* text-align: right; */
        margin: 20px 5px 0px 5px;
    ">
      {{context.timestamp}}
    </h4>
    <h3 ng-if="widget.showDetails.headline" style="
          color: #7f7f7f;
          font-weight: bold;
          line-height: 1;
          font-stretch: extra-condensed;
          margin: 0px 5px;
          font-size: larger;
    ">
      {{context.context.headline}}
    </h3>
    <div ng-if="widget.showDetails.text" style="
          font-stretch: extra-condensed;
          /* font-size: small; */
          text-align: justify;
          line-height: 1.2;
          margin: 5px;
    ">
    <div  ng-if="context.context.media"  class="row"  style="margin:0">
      <!-- <div class="column medium-6 left-column"> -->
        <img ng-if="context.context.media" ng-src="{{context.context.media}}" style="float:left;width:30%">
      <!-- </div> -->
      <!-- <div class="column medium-6 left-column"> -->
       {{context.context.text}}
      <!-- </div> -->
      

    </div> 
    <div  ng-if="!context.context.media"  class="row"  style="margin:0">
      {{context.context.text}}
    </div>  
      
    </div>
  </div>
</div>
      <!-- <div class="row"  style="margin:0">
        <div class="column medium-6 left-column">
          <input 
            style="margin:0.3em;" 
            type="text" 
            ng-model="selectedObject" 
            typeahead="t for t in tags | filter:$viewValue | limitTo:8"
            typeahead-editable="false"
            typeahead-on-select="selectTag(selectedObject)">
        </div>
      </div>
      <div class="row"  style="margin:0 0 1em 0;">
        <div  class="left" 
            ng-click="unselectTag(t)"
            style=" margin: 0.1em 0.05em;
                  font-size: small;
                  padding: 0 0.5em;
                  border: 0.15rem solid #008CBA;
                  color: #008CBA;
                  border-radius: 8px;
                  cursor:pointer;
                  font-stretch: extra-condensed;" 
            ng-repeat="t in selectedTags track by $index"
        >
          
          <span> {{t}}</span>
          <i style="  font-size: x-small;
                margin: 0 0 0 0.5em;"
            class="fi-x">
          </i>
        </div>
      </div>
  
</div>
 -->