<!doctype html>
<html>
<head>
  <title>Main page</title>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/app-list.css">
  <% /* The following should be inside <head> tag! */ %>
  <% include ga.ejs %>
</head>
<body ng-controller="AppListController" ng-cloak>
  <div id="logInLogOutSection">
    <% if (!user)  {%>
    <a href="/auth/google" class="button tiny">Login with Google</a>
    <% } else { %>
    Logged in as <%=user.name %>(<%=user.email%>)<br>
    <a href="/logout" class="button alert tiny">Log out</a>
    <% } %>
  </div>
  <fieldset>
    <h4>List of apps:</h4>
    <div ng-repeat="app in apps" class="row">
      <span class="column small-6">
        <b ng-bind="app.name"></b>
        <span ng-if="app.owner.name">({{app.owner.name}})</span>
      </span>
      <a href="/app/{{app.name}}/" class="button tiny success column small-2">View</a>
      <input type="button" class="button tiny column small-2"
          <% if (!user) { %> disabled <% } %>
          value="Rename" ng-click="renameApp(app.id)">
      <input type="button" class="button alert tiny column small-2"
          <% if (!user) { %> disabled <% } %>
          value="Delete" ng-click="deleteApp(app.id, app.name)">
    </div>
  </fieldset>

  <% if (user) { %>
  <fieldset>
    <label>Add new app
      <input placeholder="App name" name="appName" ng-model="model.newAppName" autocomplete="off">
    </label><br>
    <input type="button" value="Submit" class="button success tiny"
           disabled ng-disabled="!model.newAppName" ng-click="createApp()">
  </fieldset>
  <% } %>

  <script src="/js/es6-polyfill.js"></script>
  <script src="/components/es6-module-loader/dist/es6-module-loader.src.js"></script>
  <script src="/components/system.js/dist/system.src.js"></script>
  <script>
    window.define = System.amdDefine.bind(System);
    window.require = window.requirejs = System.amdRequire.bind(System);
  </script>
  <script src="/js/config.js"></script>
  <script>
    define('app-list/list', ['angular'], function (angular) {
      angular.module('appList.list', [])
        .constant('appList', <%- JSON.stringify(apps) %>);
    });

    define('user', ['angular'], function (angular) {
      angular.module('app.user', [])
        .constant('user', <%- JSON.stringify(user || {}) %>);
    });

    System.import('js/app-list'); // Kick-start the app!
  </script>
</body>
</html>
