<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/components/SCEditor/minified/themes/default.min.css">
  <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css">
  <link rel="stylesheet" href="/components/angular-ui-tree/dist/angular-ui-tree.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title ng-bind="title">DJ Data Processing Server</title>
  <meta name="description" content="<%= app.description %>">
  <meta name="keywords" content="DJ Data Processing Server">
  <meta name="author" content="Andrey Boldak">
  <% /* The following should be inside <head> tag! */ %>
  <% include ga.ejs %>
</head>
   <body style="padding:7em;">
   <h5> Part of <img src="/img/dj.png" style="height:24px"> platform</h5>
   <h2><img src="/img/dj.png" style="height:48px"> Data Processing Server</h2>
   <p>
    Use API for Data Management, Data Processing, Data Mining and Data Publication Services
   </p>
   <h3> About DJ</h3>
    <p>
    DJ is platform that provide user friendly online SPA builder for Data Management, Data Mining, Data Scientists Collaboration and other BI solutions.
    </p>
    <h4>
      DJ key features
    </h4>
    <h5>Basic</h5>
    <ul>
      <li>Online SPA design</li>
      <li>SPA Hosting</li>
      <li>Widget based dashboards</li>
      <li>Widgets interaction</li>
      <li>Flexible navigation</li>
      <li>Flexible page layout (device independent)</li>
      <li>Skins, full app i18n (without reload), management of app resources</li>
      <li>User collaboration support</li>
      <li>Apps Access policy</li>
    </ul>
    <h5>Advanced</h5>
    <ul>
      <li>Toolkit for Apps Management</li>
      <li>Toolkit for Data Management: Rich metadata support (tags, categories, lookups), full dataset i18n, dataset version service, data uploads/downloads</li>
      <li>Toolkit for Data Mining and Visualization: multidimensional data cube manipulation, data queries (projections, selections, joins), interactive charts, multilayered maps, tables, embedded data processing and data mining</li>
      <li>Toolkit for Project Management</li>
    </ul>

    <footer class="row">
      <div class="medium-12 columns">
        <hr>
        <div class="row">
          <center>
            <a href="https://www.mongodb.org"  alt="mongodb.org" target="_blank"><img src="/img/mongodb.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="https://www.nodejs.org"  alt="nodejs.org" target="_blank"><img src="/img/nodejs.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://sailsjs.org"  alt="sailsjs.org" target="_blank"><img src="/img/sails1.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://foundation.zurb.com"  alt="foundation.zurb.com" target="_blank"><img src="/img/foundation5.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://angularjs.org"  alt="angularjs.org" target="_blank"><img src="/img/angular.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://facebook.github.io/react/"  alt="facebook.github.io/react/" target="_blank"><img src="/img/reactjs.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href=""  alt="" target="_blank"><img src="/img/dj.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://d3js.org"  alt="d3js.org" target="_blank"><img src="/img/d3.png" width="32px" style="margin: 0 0.2em"/></a>
            <a href="http://nvd3.org"  alt="nvd3.org" target="_blank"><img src="/img/novus.png" width="32px" style="margin: 0 0.2em"/></a>
            <span style="font-size: small;"> 
              and <a href="dependencies.html" target="_blank">more...</a>
            </span>
          </center>
        </div>
        <div class="row">
          <div class="columns" style="text-align: right;">
            <p style="font-size:x-small; margin: 0;"> 
            Copyright &copy; 2014-2016 <a href="mailto:boldak.andrey@gmail.com">Andrey Boldak</a>. 
            </p>
            <p style="font-size:x-small"> Licensed under the terms of the 
            <a href="license.html" target="_blank">MIT License</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
