<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/foundation/css/normalize.css">
  <link rel="stylesheet" href="/components/foundation/css/foundation.css">
  <link rel="stylesheet" href="/components/SCEditor/minified/themes/default.min.css">
  <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>World Data Center</title>
  <script>
    // This script should be here, in the head section -
    // otherwise Google WebMaster tools won't detect the owner
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60251430-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body ng-controller="MainCtrl" ng-class="{'debug-enabled': globalConfig.debugMode}">
<header class="row">
  <div ng-if="globalConfig.designMode" id="page-design-panel" ng-cloak>
    <h3>Design mode panel</h3>
    <button class="button tiny radius" ng-click="appConfig.submitToServer(alertAppConfigSubmissionFailed)"
            id="submitChangesToServerBtn"
            disabled
            ng-disabled="appConfig.sendingToServer || !appConfig.wasModified">
      Submit changes to server
    </button>
    <button class="button tiny radius" ng-click="appConfig.addNewPageInModal()"
            id="addNewPageBtn">
      <i class="fi-plus black"></i> Add new page
    </button>
    <button class="button alert radius tiny"
            id="deletePageBtn"
            ng-disabled="appConfig.isHomePageOpened() || appConfig.is404PageOpened()"
            disabled
            ng-click="appConfig.deletePage(appConfig.currentPageIndex())">
      Delete page
    </button>
    <hr>
  </div>
</header>

<div class="row">
  <div class="medium-10 push-2 columns" id="page-view">
    <div ui-view>
      Loading...
    </div>
  </div>

  <nav class="medium-2 pull-10 columns">
    <h1><img src="/img/logo.png" style="width:90%;"></h1>
    <ul class="side-nav">
      <li ng-repeat="page in appConfig.config.pages" ng-if="page.shortTitle"><a href="/app/<%=appName%>/{{page.href}}" ng-bind="page.shortTitle"></a></li>
    </ul>
  </nav>
</div>

<footer class="row">
  <div class="medium-12 columns">
    <hr>
    <div class="row">
      <div class="medium-6 columns">
        <p>&copy; Copyright</p>
      </div>
    </div>
  </div>
</footer>
<div class="row">
  <% if (user)  {%>
  <div>
    <h6 class="left">Design mode: &nbsp;&nbsp; </h6>
    <div class="switch tiny">
      <input type="checkbox" id="designModeCheckbox"
             ng-model="globalConfig.designMode">
      <label for="designModeCheckbox"></label>
    </div>
    <br>
    <h6 class="left">Debug mode:&nbsp;&nbsp; </h6>
    <div class="switch tiny">
      <input type="checkbox" id="debugModeCheckbox"
             ng-model="globalConfig.debugMode"
             disabled ng-disabled="globalConfig.designMode">
      <label for="debugModeCheckbox"></label>
    </div>
  </div>
  <div>
    <button class="button tiny alert right" ng-click="logOut()">Log out</button>
  </div>
  <% } else { %>
  <div>
    <button class="button tiny primary right" ng-click="logIn()" id="logInButton">Login with Google</button>
  </div>
  <% }%>
</div>
<!-- ES6 polyfill. Load before every other JS file -->
<script src="js/es6-polyfill.js"></script>
<script>
  window.appName = "<%= appName %>";
  window.appConfig = <%- JSON.stringify(config) %>;
</script>
<script data-main="js/main" src="/components/requirejs/require.js"></script>
</body>
</html>
