<!DOCTYPE html>
<html>
<head>
  <title>Main page</title>
  <style>
    .delete-btn {
      color: red;
    }
  </style>
</head>
<body>
  List of apps:
  <ul>
    <% _.each(apps, function (app) { %>
    <li><a href="/app/<%= app.appName %>/"><%= app.appName %></a> <span class="delete-btn">[x]</span></li>
    <% }) %>
  </ul>
  <form method="post">
    <label>Add new app: <input name="appName" placeholder="App name in url"> </label>
    <input type="submit">
  </form>
</body>
</html>
