<div ng-controller="AppCreatorController">
  <form ng-submit="createApp()" ng-if="user.isLoggedIn" style="max-width: 30rem">
    <h3 widget-translate>ADD_NEW_APP</h3>
    <label>
      <widget-translate>APP_NAME</widget-translate>
      <input type="text"
             class="left"
             placeholder="{{'WIDGET.APP-CREATOR.APP_NAME' | translate }}"
             name="appName"
             ng-model="model.newAppName" autocomplete="off">
    </label>
    <label>
      <widget-translate>CHOOSE_SKIN</widget-translate>
      <select ng-model="model.skinName">
        <option ng-repeat="skin in skins" value="{{skin.name}}">{{skin.title}}</option>
      </select>
    </label>
    <input type="submit"
           widget-translate translate-attr-value="SUBMIT"
           class="button success tiny"
           disabled ng-disabled="!model.newAppName">
  </form>
  <div ng-if="!user.isLoggedIn" widget-translate>
    YOU_NEED_TO_LOGIN_TO_CREATE_APPS
  </div>
</div>
