<!-- <widget-holder name="column"></widget-holder>
<div class="row">
  <div class="column medium-3 left-column">
    <widget-holder name="topleft"></widget-holder>
  </div>
  <div class="column medium-9 right-column">
    <widget-holder name="topright"></widget-holder>
  </div>
</div>
<widget-holder name="bottom"></widget-holder>
 -->
<!-- <div class="row" style="
      max-width: 75em;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top:0; 
      margin-bottom:0;">
  <widget-holder name="column"></widget-holder>
</div> 
<div class="row" style="margin-top:0.5rem;">
  <div class="column medium-3">
    <widget-holder name="topleft"></widget-holder>
  </div>
  <div class="column medium-9">
    <div class="row">
      <widget-holder name="topright"></widget-holder>
    </div>
    <div class="row">
      <div class="column medium-4">
        <widget-holder name="detail1"></widget-holder>
      </div>
      <div class="column medium-4">
        <widget-holder name="detail2"></widget-holder>
      </div>
      <div class="column medium-4">
        <widget-holder name="detail3"></widget-holder>
      </div>
        
    </div>
    <div class="row">
      <widget-holder name="bottomright"></widget-holder>
    </div>  
  </div>
</div>
<widget-holder name="bottom"></widget-holder> -->




<style>
  .container-hover {
      margin-bottom: 2rem;
      border-radius: 3px;
      padding-top: 1rem;
      padding-left: 1.5rem;
      padding-right: 1rem;
      padding-bottom: 0.25rem;
      transition: all .25s ease-in-out;
  }
  .vertical-feature-block {
      margin-bottom: 3rem;
      text-align: center;
  }
  .center75em {
      max-width: 75em !important;
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important;
  }
</style>

<div class="row">
  <widget-holder name="banner"></widget-holder>
</div>

<div class="row center75em">
  <widget-holder name="column"></widget-holder>
</div>

<div class="row framework-callouts">
  <div class="medium-3 columns container-hover framework-mascot">
    <widget-holder name="topleft"></widget-holder>
  </div>
  <div class="medium-9 columns container-hover framework-mascot">
    <widget-holder name="topright"></widget-holder>
  </div>
</div>

<div class="row center75em">
  <widget-holder name="bottom"></widget-holder>
</div>

