<widget-holder name="column"></widget-holder>
<div class="row">
  <div class="column medium-6 left-column">
    <widget-holder name="topleft"></widget-holder>
  </div>
  <div class="column medium-6 right-column">
    <widget-holder name="topright"></widget-holder>
  </div>
</div>
<div class="row">
  <div class="column medium-6 left-column">
    <widget-holder name="bottomleft"></widget-holder>
  </div>
  <div class="column medium-6 right-column">
    <widget-holder name="bottomright"></widget-holder>
  </div>
</div>

<div ng-if="globalConfig.debugMode">
  Config: <br>
  <pre>{{config | json}}</pre>
</div>
