.border {
  border: 1px solid #dfdfdf;
  padding: 0.5rem;
  margin: 0.5rem;
}

.widget.border {
  border: 1px solid #dfdfdf;
  padding: 0.5rem;
  margin: 0 0 0.5rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.panel.wizard {
  background: #ffffff;
}

table tr th, table tr td {
  padding: 0.2rem 0.5rem;
  /*  font-size: 0.875rem;*/
  color: #222222;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;

}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
  line-height: 1.125rem;
  font-size: 0.7rem;
  padding: 0.2rem;
}

.rowid {
  background: #f5f5f5;
}

button.toolbar {
  padding: 0.2rem;
  font-size: 0.6875rem;
  border: 1px solid #dadada
}

div .toolbar {
  padding: 0.2rem;
  font-size: 0.6875rem;
  /*background-color: transparent;*/
  font-size: smaller;
}

.reveal-modal, dialog {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 1005;
  width: 100vw;
  top: 0;
  border-radius: 3px;
  left: 0;
  background-color: white;
  padding: 0.75rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* padding: 1.875rem; */
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.table.title {
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  padding: 0 3rem 0.5rem;
}

.table.subtitle {
  font-size: smaller;
  font-style: italic;
  text-align: left;
  line-height: 1rem;
  padding: 0 3rem;
}

.table.caption {
  font-size: smaller;
  font-style: normal;
  text-align: right;
  padding: 0 3rem 0.5rem;
}
