
<div 
    ng-controller="V2DataManagerLookupController" style="line-height:1;    margin: 0 1.5em 0 1.5em;">
 <!--  <div class="row" ng-if="!(object && (object !== key))">
    <center>
      <h4 style="color:#eee">
        <widget-translate>NO_INFO_AVAILABLE</widget-translate>
      </h4>
    </center> 
  </div>   -->
  <div ng-if="object && (object !== key) && visibility" class="row" style="    margin:0 0 0.5em 0;
    padding: 0 1em;">
   
    <div class="row">
      <h3 ng-if="object.category"
          style="
    margin: 0 0 0.5em 0;
    line-height: 1;">
            {{object.category | translate}}:
      </h3>
      <h4 style="
    margin: 0 0 0.5em;
    line-height: 1;">
        <img ng-if="object.icon" src="{{object.icon | translate}}" style="height:36px;" />
       <!--  <img ng-if="!object.icon" src="./img/default-info-icon.png" width="48px"> -->
        
        {{ object.label | translate}}
      </h4>
    </div>  

   <!--   <div class="row" ng-if="meta.length > 0">
      <a ng-click="fml = !fml" style="font-size:small;float:right;">{{((fml)?"Hide":"Show")+" Full Metadata List"}}</a>
      
      <div ng-if="fml" class="row" style="font-size:small;">
        <table width="100%">
          <thead>
            <tr>
              <th style="font-size:smaller; color:#154163;">Key</th>
              <th style="font-size:smaller;">Value</th>
            </tr>
          </thead>
          <tbody>  
            <tr ng-repeat="item in meta">
              <th style="font-size:smaller; color:#154163;">{{item.key | translate}}</th>
              <td style="font-size:smaller;">{{item.value | translate}}</td>
            </tr>
          </tbody>   
        </table>
      </div>
    </div> -->

     <div class="row">  
      <div ng-if="object.note" style="font-size: small;
              text-align: justify;">
            {{object.note | translate}}
      </div>

      <div ng-if="object.url" style="font-size:small; margin:0.5em 0; text-align: justify;">
        <a href="{{object.url | translate}}" target="blank">{{object.url | translate}}</a>
      </div>
    </div>
    
    

  </div>
  

</div>    

    