
<div 
    ng-controller="V2DataManagerLookupController">
 <!--  <div class="row" ng-if="!(object && (object !== key))">
    <center>
      <h4 style="color:#eee">
        <widget-translate>NO_INFO_AVAILABLE</widget-translate>
      </h4>
    </center> 
  </div>   -->
  <div ng-if="object && (object !== key) && visibility" class="row" style="    margin: 0;
    padding: 0 1em;>
   
    <div class="row">
      <h4 style="margin:0 0 0.5em;">
        <img ng-if="object.icon" ng-src="0 0 0.5emobject.icon" width="48px" height="48px" />
        <img ng-if="!object.icon" src="./img/default-info-icon.png" width="48px">
        {{object.label | translate}}
      </h4>
  
      
      <div ng-if="object.note" style="font-size: small;
              text-align: justify;">
            {{object.note | translate}}
      </div>

      <div ng-if="object.url" style="font-size:small; margin:0.5em 0; text-align: justify;">
        <a href="{{object.url}}" target="blank">{{object.url}}</a>
      </div>
    </div>
  </div>
</div>    

    