 <div  class="row" 
  ng-controller="DataManagerSearchResultController" 
  style="    margin:0 1.5em;
    padding: 0 1em;">
   <div ng-if="query"> 
  
  <center ng-if="query && total == 0" >
        <img src="./img/ajax-loader.gif">
  </center>
  
  <div ng-if="query && (total > 0)" >
  <div class = "row" style="margin:0;">
    <h5 style="    margin: 0 0 0.5em 0;
                    
                    ">
      {{widget.title | translate}}
    </h5>
  </div>  


    <div ng-if="layout == 'panel'">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-8">
        <li ng-repeat="item in result"
            style="{{(item.selected)?'border:1px solid #ddd;padding:0;':'padding:0;'}}"
            >
            <a style="margin:1em;"
              ng-click="select(item)"
              tooltip="{{item.dataset.note | translate}}"
              tooltip-placement="bottom"
              tooltip-popup-delay='1000'
              class="has-tip"
            >
              <center>
                <!-- <img 
                  src="./img/default-ds-icon.png" style="width:48px;"/>
 -->
                <img ng-if="lookup(item.dataset.source).icon" ng-src="{{lookup(item.dataset.source).icon | translate}}" style="height:24px;">

                <img  ng-if="!lookup(item.dataset.source).icon"
                  src="./img/default-ds-icon.png" style="height:24px;"/>
                
                <div style="    font-size: x-small;
                                font-weight: normal;
                                padding: 0.2em;
                                line-height: 1;">
                 {{item.dataset.label | translate}}{{item.dataset.ext}}
                </div>  
              </center>
            </a>
        </li>
      </ul>
    </div>

    <div ng-if="layout == 'list'">

      <div  ng-repeat="item in result"
            ng-click="select(item)" 
            style="
              margin: 0 0 0.2rem 0;
              border-bottom: 1px solid #dddddd;
              cursor:pointer;">
        <h5 style="font-stretch: semi-condensed;
              margin: 0;
             
              font-weight: bold;
              font-size: initial;">
          <span ng-click="step.select(item)" 
                style="cursor:pointer;">
            <img src="
              {{
                ((lookup(item.dataset.source).icon)
                  ? lookup(item.dataset.source).icon 
                  : './img/default-ds-icon.png') | translate
              }}" style="height:16px"/>
              {{item.dataset.label | translate}}{{item.dataset.ext}}
          </span>
        </h5>  

        <div style="font-size: small;
              text-align: justify;
              margin: 0 0.5em 0.5em 0.5em;
              font-stretch: condensed;
              line-height: 1;">
          {{item.dataset.note | translate}}
        </div>  
        <div style="font-size: small;
              text-align: justify;
              margin: 0 0.5em 0.5em 0.5em;
              font-stretch: condensed;
              line-height: 1;">

         {{((lookup(item.dataset.source).label)?lookup(item.dataset.source).label:item.dataset.source) | translate}}&nbsp;({{formatDate(item.dataset.commit.createdAt)}})  
        </div>
    </div>





    </div>
  </div>  
  </div>
  </div>
</div>
