// LESS code (compatible with CSS but better)
.page-title {
  font-size: 2.3125rem;
}

#page-view {
  padding: 0px;
}

widget-holder {
  display: block;
}

.widget {
  @widget-design-bg: #f5f5f5;
  @widget-design-border: #ddd;
  @widget-design-border-radius: 0.3rem;

  padding: 5px;
  margin-bottom: 15px;
  display: block;
  height: 100%;
  &:last-of-type {
    margin-bottom: 0px;
  }

  .widget-design-panel {
    border: 0.1rem solid @widget-design-border;
    .widget-type, .widget-name {
      float: left;
      margin-left: 0.4rem;
    }
    .widget-type {
      font-weight: bold;
      margin-top: 0.2rem;
    }
    .widget-config-btn, .widget-delete-btn {
      float: right;
      margin: 0.2rem;
      color: #9b9b9b;
    }
    background-color: @widget-design-bg;
    border-top-left-radius: @widget-design-border-radius;
    border-top-right-radius: @widget-design-border-radius;
    padding: 0.3rem;
    font-style: italic;
  }

  .widget-title {
    font-weight: bold;
  }

  .widget-contents {
    height: 100%;
    clear: both;

    &.widget-design-mode {
      padding: 0.4rem;
      border-left: 0.1rem solid @widget-design-border;
      border-right: 0.1rem solid @widget-design-border;
      border-bottom: 0.1rem solid @widget-design-border;
      border-bottom-left-radius: @widget-design-border-radius;
      border-bottom-right-radius: @widget-design-border-radius;
    }
  }
}

.debug-enabled {
  .widget {
    border: 2px dashed red;
  }

  widget-holder {
    border: 2px dashed green;
  }

  #page-view {
    border: 2px dashed blue;
  }
}
