// LESS code (compatible with CSS but better)
.page-title {
  font-size: 2.3125rem;
}

#page-view {
  border: 2px dashed blue;
  padding: 0px;
}

widget-holder {
  display: block;
  border: 2px dashed green;
}

.widget {
  border: 2px dashed red;
  padding: 5px;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.widget-title {
  font-weight: bold;
}

.widget-contents {
  height: 100%;
}