<div style="font-size: small" ng-controller="DataSourceController" ng-show="globalConfig.designMode">
    <div ng-if="info != undefined" style="padding-left:1rem;">

        <div>
            <label class="left" style="font-size:small">
                <b>URL:</b>
                <a target="_blank" href="{{provider.dataURL}}"> {{provider.dataURL}}</a>
            </label>
            <label class="left" style="font-size:small">
                <b>&nbsp;Format:</b>
                <a target="_blank" href="{{provider.dataFormatRef}}">
                    {{provider.dataFormat}}
                </a>
            </label>
        </div>
        <br/>
        <h5>Datasets:</h5>
        <div ng-repeat="dataset in info">
            <b>{{dataset.label}}</b>
            <br/>
            <div style="font-size:smaller">
                <i>Source: {{dataset.source}} Updated: {{dataset.updated}}</i>
                <br/>
                <b>Dimensions:</b>
                    <ul style="font-size:inherit">
                        <li ng-repeat="d in dataset.dimensions" style="margin-left:1.5rem;">
                            <b>{{d.label}}:</b> {{d.length}} items
                        </li>
                    </ul>
            </div>
        </div>
    </div>

    <h1 ng-if="info == undefined" style="color:#eeeeee; text-align: center;">Widget Not Configured</h1>

</div>