<accordion-group heading = "Titles">
	<div class="row wizard setting">
		<label class="wizard left">
			Title
	    </label>
	    <input class="wizard" type="text" ng-model="step.decoration.title">
	    
	    <label class="wizard left">
			Subtitle
	    </label>
	    <input class="wizard" type="text" ng-model="step.decoration.subtitle">
	    
	    <label class="wizard left">
			Caption
	    </label>
	    <input class="wizard" type="text" ng-model="step.decoration.caption">
		 <button class="button radius right toolbar apply" ng-click="step.apply()">Apply</button>
	</div>
</accordion-group>