<h3 translate>APPLICATION_SETTINGS</h3>
<form>
  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsInputName" translate>APP_NAME</label>
    </div>
    <div class="column large-10">
      <input ng-model="settings.name" id="appSettingsInputName"
             translate translate-attr-placeholder="APP_NAME_SHOWN_IN_URL"
             type="text">
    </div>
  </div>
  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsSelectSkin" translate>APP_SKIN</label>
    </div>
    <div class="column large-10">
      <select ng-model="settings.skinName" id="appSettingsSelectSkin">
        <option ng-repeat="skin in skins" value="{{skin.name}}">{{skin.title}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsInputKeywords" translate>APP_KEYWORDS</label>
    </div>
    <div class="column large-10">
      <input ng-model="settings.keywords" id="appSettingsInputKeywords"
             translate translate-attr-placeholder="KEYWORDS_FOR_SEARCH_ENGINES"
             type="text">
    </div>
  </div>

  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsInputTitle" translate>APP_ICON</label>
      <button class="button radius right toolbar tiny" ng-click="generateIcon()">Generate</button>
    </div>
    <div class="column large-10">
      <input ng-model="settings.icon" id="appSettingsInputTitle"
             translate translate-attr-placeholder="APPLICATION_ICON"
             type="text">
    </div>
  </div>

  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsInputTitle" translate>APP_TITLE</label>
    </div>
    <div class="column large-10">
      <input ng-model="settings.title" id="appSettingsInputTitle"
             translate translate-attr-placeholder="APPLICATION_TITLE"
             type="text">
    </div>
  </div>

   <div class="row">
    <div class="column medium-2">
      <label for="appDpsUrl" translate>DPS_URL</label>
    </div>
    <div class="column large-10">
      <input ng-model="settings.dps" id="appDpsUrl"
             translate translate-attr-placeholder="DPS_URL"
             type="text">
    </div>
  </div>

  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsInputDescription" translate>APP_DESCRIPTION</label>
    </div>
    <div class="column large-10">
      <textarea ng-model="settings.description" id="appSettingsInputDescription"
                translate translate-attr-placeholder="APPLICATION_DESCRIPTION">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="column medium-2">
      <label for="appSettingsCheckboxPublished" translate>IS_PUBLISHED</label>
    </div>
    <div class="column large-10">
      <div class="switch tiny">
        <input type="checkbox" id="appSettingsCheckboxPublished"
               ng-model="settings.isPublished"
               disabled ng-disabled="globalConfig.designMode">
        <label for="appSettingsCheckboxPublished"></label>
      </div>
    </div>
  </div>
</form>
<br>
<button class="button alert tiny seq right" ng-click="cancel()" translate>CANCEL</button>
<button class="button tiny seq right" ng-click="ok()" translate>SAVE</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
