<h3 translate>DESIGN_PANEL</h3>
<button class="button tiny radius" ng-click="app.submitToServer(alertAppConfigSubmissionFailed)"
        id="submitChangesToServerBtn"
        disabled
        style="width: 12em"
        ng-disabled="app.sendingToServer || !app.wasModified">
  <span ng-if="app.sendingToServer" translate>SAVING_DOTS</span>
  <span ng-if="!app.sendingToServer && !app.wasSavedEver" translate>SAVE</span>
  <span ng-if="!app.sendingToServer && app.wasSavedEver" translate>SAVED</span>
</button>
<button class="button tiny radius" ng-click="app.openShareSettings()" id="appShareBtn">
  <i class="fi-lock"></i> <translate>SHARE</translate>
</button>
<button class="button tiny radius" ng-click="app.openAppSettingsDialog()" id="appSettingsBtn" translate>
  APP_SETTINGS
</button>
<div>
  <div class="left">
    <h6 class="left"><translate>DESIGN_MODE</translate>:&nbsp;&nbsp;</h6>
    <div class="switch tiny left">
      <input type="checkbox" id="designModeCheckbox"
             ng-model="globalConfig.designMode">
      <label for="designModeCheckbox"></label>
    </div>
  </div>
  <div class="left">
    <h6 class="left">&nbsp;&nbsp;&nbsp;&nbsp;
      <translate>DEBUG_MODE</translate>:&nbsp;&nbsp;
    </h6>
    <div class="switch tiny left">
      <input type="checkbox" id="debugModeCheckbox"
             ng-model="globalConfig.debugMode"
             disabled ng-disabled="globalConfig.designMode">
      <label for="debugModeCheckbox"></label>
    </div>
  </div>
</div>
<hr>
