<div class="row" style="padding: 0.5em;
                        margin: 0.5em 1em;
                        border: 0.1rem solid #ddd;
                        background-color: #F7F5DF;">
  <div class="left" style="width:100%">
    <img src="./img/design-panel.png" width="48px" style="float:left;margin:0 0.5em">
    <div class="left" style="margin: 0.5em 0 0 0;">
    
      <button title="Alt+D" 
              ng-click="globalConfig.designMode = !globalConfig.designMode" 
              class="left button radius toolbar"
              ng-class="(globalConfig.designMode)?'success':''"
              style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
              <img src="{{(!globalConfig.designMode)?'./img/design-mode-icon.png':'./img/presentation-mode-icon1.png'}}" width="24px">
              <translate>{{(!globalConfig.designMode)?'DESIGN_MODE':'PRESENTATION'}}</translate>
      </button>    

      <div ng-if="globalConfig.designMode" class="left"> 
         <button  title="Alt+S"
                  class="left button radius"
                  ng-class="(app.sendingToServer || !app.wasModified) ? 'secondary' : 'warning'" 
                  ng-click="app.submitToServer(alertAppConfigSubmissionFailed)"
                  id="submitChangesToServerBtn"
                  disabled
                  style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;"
                  ng-disabled="app.sendingToServer || !app.wasModified">
          <img src="./img/save-icon.png" width="24px">      
          <!-- <span ng-if="app.sendingToServer" translate>SAVING_DOTS</span> -->
          <span translate>SAVE</span>
          <!-- <span ng-if="!app.sendingToServer && app.wasSavedEver" translate>SAVED</span> -->
        </button>

        <button class="left button radius" ng-click="app.openShareSettings()" id="appShareBtn"
         style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
          <img src="./img/share-icon.png" width="24px">
          <translate>SHARE</translate>...
        </button>

        <button   class="left button radius" 
                  ng-click="app.openAppSettingsDialog()" 
                  id="appSettingsBtn" 
                  style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
          <img src="./img/app-settings-icon.png" width="24px">
          <span translate>APP_SETTINGS</span>...
        </button>

        <button title="Alt+P"
                ng-click="app.openPageManager()" 
                class="left button radius toolbar"
                style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
            <img src="./img/pages-icon.png" width="24px">
            <translate>PAGES</translate>...
        </button>

        <button title="Alt+R"
                ng-click="app.openResourceManager()" 
                class="left button radius toolbar"
                style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
            <img src="./img/resource-manager-icon.png" width="24px">
            <translate>RESOURCES</translate>...
        </button>

        <button title="Alt+T"
                ng-click="app.openTranslationManager()" 
                class="left button radius toolbar"
                style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
              <img src="./img/translations-icon.png" width="24px">
              <translate>TRANSLATIONS</translate>...
        </button>

        <button
                ng-if="user.isAdmin"
                ng-click="app.openPortalConfigDialog()" 
                class="left button radius toolbar warning"
                style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
              <img src="./img/app-settings-icon.png" width="24px">
              <translate>PORTAL</translate>...
        </button>

        <button 
                ng-if="user.isAdmin"
                ng-click="app.openSetAdminDialog()" 
                class="left button radius toolbar warning"
                style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;">
              <img src="./img/app-settings-icon.png" width="24px">
              <translate>ADMINS</translate>...
        </button>

        
      </div>
    </div>  
    <div class="right" style="margin: 0.5em 0 0 0;">
      <!-- <div style="  margin: 0;
                    padding: 0.5em 0.5em 0 0;
                    float: left;
                    font-stretch: ultra-condensed;
                    font-size: small;
                    font-weight: bold;">
        <span style="height: 32px; width: 32px; color: #A09C90;"> 
          {{(user.isAdmin)?'Administrator ':(user.isOwner)?'Owner ':'Collaborator '}}
        </span>
        <span style="color: #008CBA;height: 32px;width: 32px;">{{user.name}}</span>
      </div>
      <span style=" background-image: url({{user.photo}});
                    background-size: 32px 32px;
                    border-radius: 50%;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    height: 32px;
                    width: 32px;
                    float: left;
                    margin: 0 0.5em 0 0">
      </span> -->
      <button class="right button radius" 
              style="margin:0 0 0 0.2rem; padding: 0.2em 0.5em;font-stretch: ultra-condensed;"
              ng-click="logOut()">
        <img src="./img/logout-icon.png" width="24px">
        <translate>LOG_OUT</translate>
      </button>
    </div>  
  </div>
</div>


  
