<ul class="side-nav" ng-if="!globalConfig.designMode">
  <li ng-repeat="page in config.pages" ng-if="page.shortTitle">
    <a href="/app/{{appName}}/{{page.href}}" ng-bind="page.shortTitle"></a>
  </li>
</ul>

<div ui-tree ng-if="globalConfig.designMode">
  <ul ui-tree-nodes="" ng-model="config.pages" class="side-nav">
    <li ng-repeat="page in config.pages" ng-if="page.shortTitle" ui-tree-node>
      <a href="/app/{{appName}}/{{page.href}}">
        <span ui-tree-handle style="color:green">
          &#9650;
        </span>
        <span style="color: red" ng-click="app.deletePageWithConfirmation($index)" onclick="return false;">
          [X]
        </span>
        {{page.shortTitle}}
      </a>
    </li>
  </ul>
  <button class="button tiny radius" ng-click="app.addNewPageInModal()"
          id="addNewPageBtn">
    <i class="fi-plus black"></i> <translate>ADD_NEW_PAGE</translate>
  </button>
</div>
