
<div ng-if="globalConfig.designMode && widget" class="widget-design-panel clearfix design-mode-only" title="{{type}}">
  <span class="widget-name left">
    <img ng-if="widget.icon" ng-src="{{widget.icon}}" width="24px" height="24px"/>
    <img ng-if="!widget.icon" ng-src="./widgets/default_widgets_icon.png" width="24px" height="24px"/>
  </span>


<!-- <div class="widget-design-panel clearfix design-mode-only" title="{{type}}">
  <span class="widget-name left">
    <img ng-if="widget.icon" ng-src="{{widget.icon}}" width="24px" height="24px"/>
  </span>
 -->  

 <span ng-if="!widgetPanel.editingInstanceName"
        class="widget-name left"
        ng-click="widgetPanel.startEditingInstanceName()"
        onmousedown="return false;"
        ng-bind="widget.instanceName"
        title="{{'DOUBLE_CLICK_TO_EDIT' | translate}}">
  </span>
  <span ng-if="widgetPanel.editingInstanceName">
    <input style="width: 10rem; height: 1.7rem; margin: 0" class="left" type="text"
           ng-model="widgetPanel.newInstanceName">
    <button class="fi-check left tiny success"
            style="height: 1.7rem; margin: 0; padding-top: 0.4rem"
            ng-click="widgetPanel.finishEditingInstanceName()">
      <span translate>SAVE</span>
    </button>
    <button class="fi-x left tiny failure"
            style="height: 1.7rem; margin: 0; padding-top: 0.4rem"
            ng-click="widgetPanel.cancelEditingInstanceName()">
      <span translate>CANCEL</span>
    </button>
  </span>
 
  <!-- <span class="widget-type label radius left" ng-bind="type"></span> -->
  <span ng-if="widgetPanel.allowDeleting"
        class="widget-delete-btn right" ng-click="widgetPanel.deleteWidget()"
        title="{{'DELETE_THIS_WIDGET' | translate}}">
    <i class="glyphicon fi-x"></i>
  </span>
  <span ng-if="widgetPanel.allowConfiguring"
        class="widget-config-btn right" ng-click="widgetPanel.openWidgetConfigurationDialog(widget)"
        title="{{'OPEN_CONFIG_DIALOG_FOR_THIS_WIDGET' | translate}}">
    <i class="glyphicon fi-wrench"></i>
  </span>
  <span ng-if="widgetPanel.allowCloning"
        class="widget-clone-btn right" ng-click="widgetPanel.cloneWidget()"
        title="{{ 'CLONE_THIS_WIDGET' | translate }}">
    <i class="glyphicon fi-page-copy"></i>
  </span>
  <span ng-if="widgetPanel.allowOpenHelp"
        class="widget-help-btn right" ng-click="widgetPanel.openHelp()"
        title="{{ 'HELP' | translate }}">
    <i class="glyphicon fi-info"></i>
  </span>

  <span ng-if="!widgetPanel.collapsed" ng-click="widgetPanel.collapsed = true"
        class="widget-help-btn right" 
        title="{{ 'Collapse' | translate }}">
    <i class="glyphicon fi-arrows-in"></i>
  </span>

  <span ng-if="widgetPanel.collapsed" ng-click="widgetPanel.collapsed = false"
        class="widget-help-btn right" 
        title="{{ 'Expand' | translate }}">
    <i class="glyphicon fi-arrows-out"></i>
  </span>

</div>
<div ng-if="(widgetCodeLoaded && !globalConfig.designMode) ||(widgetCodeLoaded && globalConfig.designMode && !widgetPanel.collapsed)"
     ng-include="widgetTemplateUrl"
     class="widget-contents"
     ng-class="{'widget-design-mode': globalConfig.designMode}">
  <ng-transclude></ng-transclude>
</div>
