<ul class="side-nav view-mode-only">
  <li ng-repeat="page in config.pages" ng-if="page.shortTitle">
    <a href="/app/{{appName}}/{{page.href}}" ng-bind="page.shortTitle"></a>
  </li>
</ul>

<div ui-tree class="design-mode-only">
  <ul ui-tree-nodes="" ng-model="config.pages" class="side-nav">
    <li ng-repeat="page in config.pages" ng-if="page.shortTitle" ui-tree-node>
      <a href="/app/{{appName}}/{{page.href}}">
        <span ui-tree-handle style="color:#4c5210">
          <i class="fi-arrow-up"></i><i class="fi-arrow-down"></i>
        </span>
        <i style="color: #d64c20" class="fi-trash" ng-click="app.deletePageWithConfirmation($index)"
           onclick="return false;"></i>
        {{page.shortTitle}}
      </a>
    </li>
  </ul>
  <button class="button tiny radius" ng-click="app.addNewPageInModal()"
          id="addNewPageBtn">
    <i class="fi-plus black"></i> <translate>ADD_NEW_PAGE</translate>
  </button>
</div>
