<div style="margin:-0.5em -0.4em -1.5em -0.4em;">
	
	<!-- <h4 style="color:#888;">i18n</h4> -->
		<table style="width:100%">
			
			<tr style="border-bottom:0.1rem solid #ddd">
				<td colspan="4" style="margin:0; padding:0;">
					<h4  class="left" style="color:#888; font-size:large; margin:0;">
						<img src="./img/pages.png" width="32px" style="margin: 0.2em 0 0.2em 1em;">
						Pages
					</h4>
					<i style="color:#888; font-size:large; margin:0.5em;" class="right fi-x" ng-click="close();">&nbsp;</i>
				</td>
			</tr>
			
			<tr>
				<td colspan="4">
					<button
						ng-click="clonePage()"
						class="button radius right"
	             		style="margin:1.5rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-clipboard"/>&nbsp;
		            		  Clone Page...
	            	</button>
	            	<button
						ng-click="pastePage()"
						class="button radius right"
	             		style="margin:1.5rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-clipboard"/>&nbsp;
		            		  Paste Page...
	            	</button>
					<button
						ng-click="addNewPageInModal()"
						class="button radius right"
	             		style="margin:1.5rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-plus"/>&nbsp;
		            		  Add Page...
	            	</button>
	            	<button
						ng-click="copyPage()"
						class="button radius right"
	             		style="margin:1.5rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-plus"/>&nbsp;
		            		  Copy Page...
	            	</button>
	            	
				</td>	
			</tr>
			<tr>
				<th style="font-size:smaller; color: #008CBA;">Title</th>
				<th style="font-size:smaller;">Reference</th>
				<th style="font-size:smaller; color: #008CBA; width:48px;">&nbsp;</th>
				<th style="font-size:smaller;font-size: smaller;
    width: 15em;">Operations</th>
			</tr>
			<tr ng-repeat="page in config.pages">
				<td style="font-size:smaller; color:#4DAECF;padding:0.1rem 0.5rem;">
					<span style="margin: 0.2em;
						    	font-size: small;
						    	color: #008CBA;
						    	font-stretch: ultra-condensed;
						    	text-align:right;">
					<a ng-click="gotoPage(page)">{{page.shortTitle}}</a>
					</span>	    	    
				</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">/app/{{appName}}/{{page.href}}</td>
				<td style="font-size:smaller;padding:0.1rem 0.5rem;">
					<button class="button tiny radius toolbar secondary"
							title="Copy key to clipboard" 
							ng-click="copyToClipboard(page.href)"
							style="	padding: 0em 0.3em;
								    margin: 0;
								    border: 0.1rem solid #868686;
								    background-color: initial;">
					    <img class="clippy" src="./img/clippy.svg" width="13px" alt="Copy to clipboard">
					</button>	 
				</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">
					<button
						ng-click="openPageConfig(page)"
						class="button radius tiny toolbar warning"
	             		style="margin:0.1rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-pencil"/>&nbsp;
		            		  Edit...
	            	</button>
	            	<button
						ng-click="deletePageWithConfirmation(page)"
						class="button radius toolbar tiny alert"
	             		style="margin:0.1rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-x"/>&nbsp;
		            		  Delete
	            	</button>
				</td>
			</tr>
		</table>
</div>
