<div class="widget-design-panel clearfix design-mode-only">
  <span class="widget-name left" ng-bind="widget.instanceName"></span>
  <span class="widget-type label radius left" ng-bind="widget.type"></span>
    <span class="widget-delete-btn right" ng-click="deleteWidget()"
          title="{{'DELETE_THIS_WIDGET' | translate}}">
      <i class="glyphicon fi-x"></i>
    </span>
    <span class="widget-config-btn right" ng-click="openWidgetConfigurationDialog(widget)"
          title="{{'OPEN_CONFIG_DIALOG_FOR_THIS_WIDGET' | translate}}">
      <i class="glyphicon fi-wrench"></i>
    </span>
    <span class="widget-clone-btn right" ng-click="cloneWidget()"
          title="{{ 'CLONE_THIS_WIDGET' | translate }}">
      <i class="glyphicon fi-page-copy"></i>
    </span>
</div>
<div ng-include="widgetTemplateUrl"
     class="widget-contents"
     ng-class="{'widget-design-mode': globalConfig.designMode}">
  <ng-transclude></ng-transclude>
</div>
