<h3 translate translate-values="basicProperties">SETTINGS_FOR_WIDGET_OF_TYPE</h3>
<tabset class="widget-config-tabset">
  <tab heading="{{'GENERAL_SETTINGS' | translate}}">
    <div ng-if="!widgetScope.disallowEditInstanceName">
      <translate>WIDGET_INSTANCE_NAME</translate>:
      <input ng-model="basicProperties.instanceName" type="text"
             translate translate-attr-placeholder="UNIQUE_WIDGET_NAME">
    </div>
  </tab>
  <tab heading="{{'CUSTOM_SETTINGS' | translate}}" ng-if="widgetType.schema">
    <div class="container">
      <json-editor schema="widgetType.schema" startval="widgetConfig"
                   on-change="updateData($editorValue)">
      </json-editor>
      <script>
        window.setTimeout(function () {
          // HORRIBLE HACK!
          // sceditor doesn't want to play with foundation modal dialogs nicely.
          $('json-editor .sceditor-container iframe').height('20rem').width('98%');
        }, 0);
      </script>
    </div>
  </tab>
  <!--<tab heading="{{'EVENT_SETTINGS' | translate}}">-->

  <!--</tab>-->
</tabset>
<button class="button alert tiny right seq" ng-click="cancel()" translate>CANCEL</button>
<button class="button tiny right seq" ng-click="ok()" translate>SAVE</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
