
<h3>Settings for widget "{{basicProperties.instanceName}}" of type {{basicProperties.type}}</h3>
<tabset class="widget-config-tabset">
  <tab heading="General settings">
    Widget instance name:
    <input ng-model="basicProperties.instanceName" type="text" placeholder="Unique widget name">
  </tab>
  <tab heading="Custom settings" ng-if="widgetType.schema">
    <div class="container">
      <json-editor schema="widgetType.schema" startval="widgetConfig"
                   on-change="updateData($editorValue)">
      </json-editor>
      <script>
        window.setTimeout(function () {
          // HORRIBLE HACK!
          // sceditor doesn't want to play with foundation modal dialogs nicely.
          $('json-editor .sceditor-container iframe').height('20rem').width('98%');
        }, 0);
      </script>
    </div>
  </tab>
  <tab heading="Event settings">

  </tab>
</tabset>
<button class="button small" ng-click="ok()">Save</button>
<button class="button alert small" ng-click="cancel()">Cancel</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
