<div ng-repeat="widget in holder.widgets" class="widget">
  <widget type="{{widget.type}}" config="widget"
    on-clone="cloneWidget(holder, widget)"
    on-delete="deleteIthWidgetFromHolder(holder, $index)">
    <translate>LOADING_WIDGET_DOTS</translate>
  </widget>
</div>
<div ng-show="globalConfig.designMode" class="text-center">
  <button class="button radius small" ng-click="addNewWidgetToHolder(holder)">
    <i class="fi-plus black"></i>
    <translate>ADD_NEW_WIDGET</translate>
  </button>
</div>
