<style>
  .scriptInput{
        font-family: monospace, monospace;
        font-size: medium;
        /*font-weight: bold;*/
        color: #007095;
        line-height: 0.9;
  }
</style>
<div ng-controller="ScriptController" 
  style=" border: 1px solid #ddd;
          padding: 0.5rem;
          margin-top: 0.5rem;">
    <h4>{{widget.title}}</h4>
    <div class="row" style="margin: 0.5em 0 0 0; height:auto;">
       <label style="    float: left;
                          margin: 0.5rem;">
        Script
      </label>

      <select ng-model="selectedExample"  ng-show = "widget.examples" 
              style="width: 70%;margin: 0 0 0.5rem 1rem;" >
            <option ng-repeat="option in examples" value="{{option.title}}">
              {{option.title}}
            </option>
      </select>
      <img  ng-show="!response" 
            src="./img/ajax-loader.gif" 
            class="right" 
            style="margin:0.5rem 1rem;"/>
       <button
          ng-show="response"
          ng-click = "runScript()"  
          class="button right small radius" 
          style="     padding: 0.5em;
                      font-stretch: ultra-condensed;
                      margin: 0.3rem 0.5em 0.1rem;">
          <i class="fi-play" style="margin: 0 0.5rem 0 0;"></i>Run
       </button>

       <textarea ng-disabled="!widget.editor" rows="30" cols="20" ng-model="script" class="scriptInput">
       </textarea>
    </div>
</div>

