
table tr th, table tr td {
    padding: 0.2rem 0.5rem;
    /*  font-size: 0.875rem;*/
    color: #222222;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    display: table-cell;
    line-height: 1.125rem;
    font-size: 0.675rem;
}


.table.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.table.subtitle {
    font-size: inherit;
    font-style: italic;
    text-align: center;
}

.table.caption {
    font-size: inherit;
    font-style: normal;
    text-align: right;
}
