  <div  ng-controller="DataManagerLookupController"> 
    <div style="border: 0.1rem solid #ddd; margin:0.2rem 0;" 
        ng-if="object && (object !== key) ">    
      <h4 style="color: rgba(0, 0, 0, 0.6); background-color: #efefef; padding: 0 0.5em;
    margin: 0;">
        <span ng-if="title">
             <i class="{{icon_class}}" style="color: rgb(77, 174, 207);"></i> 
            {{title | translate}}
        </span>
        <span ng-if="!title">
            <img ng-if="object.icon" ng-src="{{object.icon}}" width="48px" height="48px" />
             <i ng-if="!object.icon" class="{{icon_class}}" style="color: rgb(77, 174, 207);"></i>
             {{object.label | translate}}
        </span>    
      </h4>
      
      <h5 style="color:#888; padding:1em 1.5rem;" ng-if="title">
          <img ng-if="object.icon" ng-src="{{object.icon}}" width="48px" height="48px" />
          {{object.label | translate}}
      </h5>
      <div ng-if="object.note" style="font-size: small; margin: 0 0.5rem 1rem 1.5rem; text-align: justify;">
        {{object.note | translate}}
      </div>
      <div ng-if="object.url" style="font-size:small; margin: 0 0.5rem 1rem 1.5rem; text-align: justify;">
        <a href="{{object.url}}" target="blank">{{object.url}}</a>
      </div>

    </div>  
  </div>
