<!-- <widget-holder name="column"></widget-holder>
<div class="row">
  <div class="column medium-3 left-column">
    <widget-holder name="topleft"></widget-holder>
  </div>
  <div class="column medium-9 right-column">
    <widget-holder name="topright"></widget-holder>
  </div>
</div>
<widget-holder name="bottom"></widget-holder>
 -->
<div class="row">

<widget-holder name="column"></widget-holder>
</div>

<div class="row">
  <div class="column medium-3 left-column">
    <widget-holder name="left"></widget-holder>
  </div>
  <div ng-class="{'medium-push-3': !globalConfig.designMode}" class="column medium-6 left-column" style="padding-left: 0.3em;">
    <widget-holder name="middle"></widget-holder>
  </div>
  <div class="column medium-3 right-column">
    <widget-holder name="right"></widget-holder>
  </div>
</div>

<div class="row">
  <widget-holder name="bottom"></widget-holder>
</div>