<div class="row">
  <widget-holder name="banner"></widget-holder>
</div>

<div class="row" style="
      max-width: 75em;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top:0; 
      margin-bottom:0;">
  <widget-holder name="column"></widget-holder>
</div> 

<div class="row">
  <div class="column medium-3 left-column">
    <widget-holder name="left"></widget-holder>
  </div>
 <div class="column medium-6 left-column" style="padding-left: 0.3em;">
    <widget-holder name="middle"></widget-holder>
  </div>
  <div class="column medium-3 right-column">
    <widget-holder name="right"></widget-holder>
  </div>
</div>
<div class="row" style="
      max-width: 75em;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top:0; 
      margin-bottom:0;">
  <widget-holder name="bottom"></widget-holder>
</div> 