<h3 translate>WIDGET.PAGE-LIST.PAGE_SETTINGS</h3>
<div class="row">
  <div class="small-3 large-4 columns">
    <label ng-class="titleErr.class">
      <translate>WIDGET.PAGE-LIST.SHORT_TITLE</translate>
      <span ng-if="titleErr.message"
            translate translate-value-msg="{{titleErr.message}}">
        ERROR_MESSAGE_WITH_TEXT
      </span>
      <input type="text" ng-model="settings.shortTitle"
             ng-change="checkShortTitle()"
             translate translate-attr-placeholder="WIDGET.PAGE-LIST.UNIQUE_PAGE_TITLE">
    </label>
    <label ng-class="hrefErr.class">
      <translate>WIDGET.PAGE-LIST.UNIQUE_LINK_LEAVE_EMPTY_FOR_HOME_PAGE</translate>
      <span ng-if="hrefErr.message"
            translate translate-value-msg="{{hrefErr.message}}">
        ERROR_MESSAGE_WITH_TEXT
      </span>
      <input type="text" ng-model="settings.href"
             ng-change="checkHref()"
             translate translate-attr-placeholder="WIDGET.PAGE-LIST.UNIQUE_LINK">
    </label>
  </div>
</div>
<button ng-click="save()"
        class="button small" translate>SAVE</button>
<button class="button alert small" ng-click="cancel()" translate>CANCEL</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
