<div ng-controller="PageListController">
  <ul class="side-nav view-mode-only">
    <li ng-repeat="page in config.pages" ng-if="page.shortTitle">
      <a href="/app/{{appName}}/{{page.href}}">
        {{page.shortTitle | translate}}
      </a>
    </li>
  </ul>

  <div ui-tree class="design-mode-only">
    <ul ui-tree-nodes ng-model="config.pages" class="side-nav">
      <li ng-repeat="page in config.pages" ng-if="page.shortTitle" ui-tree-node>
        <!-- todo: add titles to these buttons -->
        <span ng-click="openPageConfig(page)" class="fi-wrench" style="color: #1b1b6d"></span>
        <span ui-tree-handle style="color:#a48c36">
          <i class="fi-arrow-up"></i><i class="fi-arrow-down"></i>
        </span>
        <i style="color: #d64c20" class="fi-trash" ng-click="deletePageWithConfirmation(page)"
           onclick="return false;"></i>

        <a href="/app/{{appName}}/{{page.href}}">
          {{page.shortTitle | translate}}
        </a>
      </li>
    </ul>
    <button class="button tiny radius" ng-click="addNewPageInModal()"
            id="addNewPageBtn">
      <i class="fi-plus black"></i> <widget-translate>ADD_NEW_PAGE</widget-translate>
    </button>
  </div>
</div>
