<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/foundation/css/normalize.css"/>
    <link rel="stylesheet" href="/components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/components/foundation-icon-fonts/foundation-icons.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script data-main="/js/main" src="/components/requirejs/require.js"></script>
    <title>World Data Center</title>
  </head>

  <body ng-controller="MainController" ng-class="{'debug-enabled': globalConfig.debugMode}">
  <header class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <li ng-repeat="section in appConfig.config.sections"><a href="/404" ng-bind="section"></a></li>
      </ul>
    </div>
  </header>

  <div class="row">
    <div class="large-9 push-3 columns" id="page-view">
      <div ng-if="globalConfig.designMode" id="page-design-panel">
        <h3>Design mode panel</h3>
        <button class="button tiny radius" ng-click="appConfig.submitToServer(alertAppConfigSubmissionFailed)"
                ng-disabled="appConfig.sendingToServer || !appConfig.wasModified">
          Submit changes to server
        </button>
        <button class="button alert radius tiny" ng-disabled="true">
          Delete page
        </button>
        <hr>
      </div>
      <div ui-view>
        Loading...
      </div>
    </div>

    <nav class="large-3 pull-9 columns">
      <ul class="side-nav">
        <li ng-repeat="page in appConfig.config.pages" ng-if="page.shortTitle"><a href="/{{page.href}}" ng-bind="page.shortTitle"></a></li>
      </ul>
      <label>Design mode:
        <input ng-model="globalConfig.designMode" type="checkbox">
      </label>
      <label>Debug mode:
        <input ng-model="globalConfig.debugMode"
               ng-disabled="globalConfig.designMode"
               type="checkbox">
      </label>

      <p><img src="http://placehold.it/320x240&text=Ad"/></p>
    </nav>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li ng-repeat="section in appConfig.config.sections"><a href="/404" ng-bind="section"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
