<h3>Choose widget type <input ng-model="searchText"></h3>
   <div class = "addWidget">
       <table>
           <thead>
           <tr>
               <th class="row1">Icon</th>
               <th class="row2">Type</th>
               <th>Description</th>
           </tr>
           </thead>
           <tbody ng-repeat="widget in widgetTypes | filter:searchText"
                  ng-click="addWidget(widget.type)">
               <tr ng-click="selectRow($index)" class="{{changeClass($index)}}">
                   <td class="row1"><img src="{{widget.icon}}"></td>
                   <td class="row2"> {{widget.type}} </td>
                   <td> {{widget.description}} </td>
               </tr>
           </tbody>
       </table>
   </div>

<button class="button" ng-click="add()">Add {{chosenWidgetType}}</button>
<button class="button alert" ng-click="cancel()">Cancel</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
