<h3>Choose widget type <input ng-model="searchText" placeholder="Search for..."></h3>
  <div class="addWidget">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li ng-repeat="widget in widgetTypes | filter:searchText" ng-click="addWidget(widget.type)"
              class="th" title="{{widget.description}}">
        <img ng-src="{{widget.icon}}"/>
        <div>{{widget.type}}</div>
      </li>
    </ul>
  </div>
<button class="button" ng-click="add()" ng-bind="'Add ' + chosenWidgetType"></button>
<button class="button alert" ng-click="cancel()">Cancel</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
