<div ng-repeat="widget in holder.widgets" class="widget">
  <div ng-show="globalConfig.designMode">
    <div class="widget-design-panel">
      <span class="widget-name" ng-bind="widget.instanceName"></span>
      <span class="widget-type label radius" ng-bind="widget.type"></span>
      <span class="widget-delete-btn" ng-click="deleteIthWidgetFromHolder(holder, $index)"><i class="glyphicon fi-x"></i></span>
      <span class="widget-config-btn" ng-click="openWidgetConfigurationDialog(widget)"><i class="glyphicon fi-wrench"></i></span>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div ng-include src="widgetTemplateUrl(widget.type)"
       class="widget-contents"
       ng-class="{'widget-design-mode': globalConfig.designMode}">
    Loading widget...
  </div>
</div>
<div ng-if="!holder.widgets" class="widget">
  Empty holder
</div>
