
<h3>Settings for widget "{{basicProperties.instanceName}}" of type {{basicProperties.type}}</h3>
<tabset>
  <tab heading="General settings">
    Widget instance name:
    <input ng-model="basicProperties.instanceName" type="text" placeholder="Unique widget name">
  </tab>
  <tab heading="Custom settings" ng-if="widgetType.schema">
    <div class="container">
      <json-editor schema="widgetType.schema" startval="widgetConfig"
                   on-change="updateData($editorValue)"
                   buttons-controller="WidgetModalConfigButtonsController">
      </json-editor>
    </div>
  </tab>
  <tab heading="Event settings">

  </tab>
</tabset>
<button class="button" ng-click="ok()">Save</button>
<button class="button alert" ng-click="cancel()">Cancel</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
