/*.tabs {*/
/*margin-bottom: 1rem !important;*/
/*margin-left: 0;*/
/*}*/

/*.tabs dd, .tabs .tab-title {*/
/*position: relative;*/
/* margin-bottom: 0 !important;*/
/*list-style: none;*/
/*float: left;*/
/*}*/

/*.tabs dd > a, .tabs .tab-title > a {*/
/*outline: none;*/
/*display: block;*/
/*background: transparent;*/
/*color: #222222;*/
/*margin: 0.5rem 1rem 0.5rem 1rem;*/
/*padding:0;*/
/*font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;*/
/*font-size: 0.675rem;*/
/*}*/

/*.tabs dd > a:hover, .tabs .tab-title > a:hover {*/
/*background: transparent;*/

/*}*/

/*.tabs dd.active a, .tabs .tab-title.active a {*/
/*background-color: #008cba;*/
/*color: #ffffff;*/
/*}*/

/*input[type="file"], input[type="checkbox"], input[type="radio"], select {*/
/*margin: 0 0 0 0;*/
/*}*/

/*.row {*/
/*width: auto;*/
/*margin-bottom: 0.5rem;*/
/*max-width: none;*/
/*font-size: small;*/
/*padding: 0 1rem 0 1rem;*/
/*border:0;*/
/*}*/


.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  opacity:0.5;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;
  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.border {
 /* border: 1px solid #dfdfdf;*/
  padding: 0.5rem;
  margin: 0.5rem;
}

.widget.border {
  /*border: 1px solid #dfdfdf;*/
  padding: 0.5rem;
  margin: 0 0 0.5rem;
 /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;*/
}

.panel.wizard {
  background: #ffffff;
}

table tr th, table tr td {
  padding: 0.2rem 0.5rem;
  /*  font-size: 0.875rem;*/
  color: #222222;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;

}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
  line-height: 1.125rem;
  font-size: 0.7rem;
  padding: 0.2rem;
}

.rowid {
  background: #f5f5f5;
}

/*
select {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    background-color: #fafafa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdтАжJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 0.2rem;
    font-size: 0.875rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 1.5rem;
}
*/

/*button.disabled, button[disabled], .button.disabled, .button[disabled] {*/
/*background-color: #ADB8BB;*/
/*border-color: #007095;*/
/*color: white;*/
/*cursor: default;*/
/*opacity: 0.7;*/
/*box-shadow: none;*/
/*}*/

button.toolbar {
  padding: 0.3rem;
  font-size: 0.6875rem;
  border: 1px solid #dadada
}

div .toolbar {
  padding: 0.3rem;
  font-size: 0.6875rem;
  /*background-color: transparent;*/
  font-size: smaller;
}

.reveal-modal, dialog {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 1005;
  width: 100vw;
  top: 0;
  border-radius: 3px;
  left: 0;
  background-color: white;
  padding: 0.75rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* padding: 1.875rem; */
}

.chartTitle {
  font-size: inherit;
  font-weight: bold;
  line-height: 1rem;
  text-align: center;
  margin: 0;
}

.chartSubTitle {
  font-size: smaller;
  font-style: italic;
  line-height: 0.85rem;
  text-align: center;
  padding: 0.2rem 0 1.5rem 0;
}

.chartCaption {
  font-size: smaller;
  font-style: normal;
  line-height: 0.85rem;
  margin: 0.5rem 0;
  text-align: center;
}

.nvd3 .nv-groups .nv-point {
  stroke-opacity: 0.7;
  stroke-width: 1px;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.nvd3.nv-stackedarea .nv-groups .nv-point {
  stroke-opacity: 1;
  fill-opacity: 1;
}

.nv-axis .tick text {
  font: normal x-small Arial;
}

.nv-axisMaxMin text {
  font: bold x-small Arial;
}

.nv-group text {
  fill-opacity: 1;
  font: bold x-small Arial;
  stroke-opacity: 0;
}

.nvd3 .nv-groups .nv-group text.nv-label {
  fill-opacity: 1;
  font: bold x-small Arial;
  stroke-opacity: 0;
}

.nv-point text {
  font: bold small Arial;
}

.nv-label text {
  fill-opacity: 1;
  font: bold x-small Arial;
  stroke-opacity: 0;
}

.nv-group-labels text {
  font: bold x-small Arial;
  color: #000000;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

div.xy-tooltip {
  font-size: smaller;
  /*background: rgba(255, 255, 191, 0.85);*/
}

.xy-tooltip table thead tr th {
  font-size: smaller;
}

.xy-tooltip table tbody tr td {
  font-size: smaller;
}

.nvtooltip .x-nvtooltip {
  font-size: smaller;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.nvtooltip .y-nvtooltip {
  font-size: smaller;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.xy-tooltip h3 {
  font-size: smaller;
  font-weight: bold;
  line-height: 1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.xy-tooltip p {
  font-size: smaller;
  line-height: 1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.nvd3.nv-radar .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.nvd3 .nv-groups path.nv-radar {
  fill: none;
  stroke-width: 2px;
}

.nvd3 .nv-groups path.nv-line {
  fill: none;
  stroke-width: 2px;
}

.nvd3 .selected {
  stroke-opacity:1;
}

.brush-control .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .05;
    stroke-width:1;
}

.nvd3 .brush .extent {
    fill-opacity: .03;
    stroke: #afafaf;
    shape-rendering: crispEdges;
}    

/*.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0;
  fill-opacity: 0.5;
  stroke-width: 4px;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups .selected rect,
.nvd3 .nv-multibarHorizontal .nv-groups  .selected rect,
.nvd3 .nv-discretebar .nv-groups .selected rect {
  stroke-opacity: 1;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
}*/