div.geochart.chartTitle {
    font-size: inherit;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    margin: 0;
}

div.geochart.chartSubTitle {
    font-size: smaller;
    font-style: italic;
    line-height: 0.85rem;
    text-align: center;
    padding: 0.2rem 0 1.5rem 0;
}

div.geochart.chartCaption {
    font-size: smaller;
    font-style: normal;
    line-height: 0.85rem;
    margin: 0.5rem 0;
    text-align: center;
}