<div ng-controller="GeoChartController">
	<div>
		<center>
			
			<div class="geochart chartTitle" style="text-align: center;">
				{{widget.decoration.title}}
			</div>
			<div class="geochart  chartSubTitle" style="text-align: center;">
				{{widget.decoration.subtitle}}
			</div>
			
			<img ng-if="!chart" src="./img/ajax-loader.gif"/>
			<div google-chart chart="chart" agc-on-ready="fixGoogleCharts(chartWrapper)"></div>
			<table ng-if="chart && chart.data.length > 0">
				<tr ng-repeat="r in chart.data">
					<td ng-repeat="c in r track by $index">
						{{c}}
					</td>
				</tr>
			<table>
			<h2 ng-if="chart && !chart.data.length" style="color:#ddd">
				Google Geochart Data or Geo Codes not avaible    
			</h2>
			<div class="geochart chartCaption" style="text-align: center;">
				{{widget.decoration.caption}}
			</div>
		</center>
	  

	</div>  

</div>  