
<div 
	class="widget" 
	ng-controller="Nvd3StackedAreaChartCtrlV2" 
	style="overflow:auto;"
	ng-mouseleave="focused = false" 
  	ng-init="focused = false"
  	ng-mouseover="focused = true" 
>
	
	<div ng-if="!hidden">	
	  <div nvd3 settings="settings" api="api" ng-show="completed"></div>

	  <h1 ng-if="!completed && configured" style="color:#eeeeee; text-align: center;">
	    <center><img src="./img/ajax-loader.gif"/></center>
	  </h1>

	  <h1 ng-if="!configured" style="color:#eeeeee; text-align: center;">
	    Widget Not Configured
	  </h1>
	</div>  
</div>

