<div ng-controller="I18NController" ng-show="globalConfig.designMode">
	
	<!-- <h4 style="color:#888;">i18n</h4> -->
		<table>
			
			<tr>
				<td colspan="5" style="margin:0; padding:0;">
					<h4 style="color:#888; font-size:large; margin:0;">
						<img src="./widgets/i-18-n/icon.png" width="32px"/>
						Translations
					</h4>
				</td>
			</tr>
			
			<tr>
				<td colspan="3">
					<span style="font-size:small">
						<b>Filter:</b>
						<input type="text" 
							         			ng-model="key"
							         			style="
							         				font-size: smaller;
							         				margin: 0;
							         				padding: 0.2rem;
							         				height: inherit;"
						/>
					</span>
				</td>
				<td colspan="2">
					<button
						ng-click="createTranslation()"
						class="button radius toolbar right"
	             		style="margin:1.5rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-plus"/>&nbsp;
		            		  Create Translation...
	            	</button>
				</td>	
			</tr>
			<tr>
				<th style="font-size:smaller; color:#4DAECF;">Key</th>
				<th style="font-size:smaller;">EN</th>
				<th style="font-size:smaller;">UA</th>
				<th style="font-size:smaller;">RU</th>
				<th style="font-size:smaller;">Operations</th>
			</tr>
			<tr ng-repeat="item in widget.translations | filter : key">
				<td style="font-size:smaller; color:#4DAECF;padding:0.1rem 0.5rem;">{{item.key}}</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">{{item.en}}</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">{{item.ua}}</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">{{item.ru}}</td>
				<td style="font-size:x-small;padding:0.1rem 0.5rem;">
					<button
						ng-click = "editTranslation(item)"
						class="button radius tiny toolbar warning"
	             		style="margin:0.1rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-pencil"/>&nbsp;
		            		  Edit...
	            	</button>
	            	<button
						ng-click = "deleteTranslation(item)"
						class="button radius toolbar tiny alert"
	             		style="margin:0.1rem 0.1rem 0.3rem 0rem; padding-top:0.2rem; padding-bottom:0.2rem;font-stretch: ultra-condensed;">
	            		  	  <i class="fi-x"/>&nbsp;
		            		  Delete
	            	</button>
				</td>
			</tr>
		</table>
</div>
