<h5 class="section-title" style="margin: 1em 0 0 1em;">
		Select Items
</h5>
	
<div style="margin:0; border-bottom: 0.1rem solid #ddd">
	<div class="row" ng-repeat="d in step.conf.dataset.dimension" style="margin: 0 0 0 1em;">
		<div class="row" style="margin: 0 1em 0 1em;">
			<h5>
				<span style="float:left;color: #888;">
					{{d.label | translate}}:&nbsp;
				</span>	
				<span style="float:left;font-stretch:ultra-condensed;font-size: medium;color:#008CBA;">
					{{d.selectionString}}
				</span>	
				
				<button ng-click="step.setRole(d, 'Ignore')"
	            		ng-class="{warning : d.role == 'Ignore'}"
	                    class="button radius secondary tiny right":
	                    style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Ignored
	            </button>

				<button ng-click="step.setRole(d, 'Split Columns')"
	            		ng-class="{warning : d.role == 'Split Columns'}"
	                    class="button radius secondary tiny right"
	                    style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Columns Splitter 
	            </button>
				
				<button ng-click="step.setRole(d, 'Columns')"
	            		ng-class="{warning : d.role == 'Columns'}"
	                    class="button radius secondary tiny right"
	                    style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Columns
	            </button>

	            <button ng-click="step.setRole(d, 'Split Rows')"
	            		ng-class="{warning : d.role == 'Split Rows'}"
	                    class="button radius secondary tiny right"
	                    style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Rows Splitter 
	            </button>

	  			<button ng-click="step.setRole(d, 'Rows')"
	            		ng-class="{warning : d.role == 'Rows'}"
	                    class="button radius secondary tiny right"
	                    style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Rows
	            </button>

	            <span style="float:right;color: #888;">
	            	as&nbsp;&nbsp;
	            </span>
			</h5>
		</div>
	
		<div class="row" style="margin:0 0 0.2em 1em">
			<div class="toolbar left">
				<button ng-if = "!d.showItemsOption"
		         		 ng-click="d.showItemsOption = true"
		         		 class="button radius tiny left"
	                     style="margin:0;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Show Items ({{d.values.length}})       
	            </button>
	            <button  ng-if = "d.showItemsOption"
	            		 ng-click="d.showItemsOption = false"
		         		 class="button radius tiny left"
	                     style="margin:0;padding-top:0.2rem; padding-bottom:0.2rem;">
	              Hide Items
	            </button>
			</div>
		</div>	
	    <div ng-if="d.showItemsOption">
	        <div class="row">	
		     	<div class="toolbar left" style="margin:0 0 0 1em;">
					
			        <div class="left" style="font-size:small; margin:0 0 0 1.5em;">
			            <b>Filter:</b>
			        </div>
			        <div class="left" style="padding:0; margin:0 1em;">
			            <input class="left"	type="text" 
			         			ng-model="d.filter"
			         			style="	height: inherit;
									    padding: 0.1em;
									    margin: 0 0 0.3em;"
											         	/>
			        </div>
			        <button 
			        		 ng-click = "step.selectAll(d)"	 		
			         		 class="button radius tiny left"
		                     style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
		              Select All
		            </button>
		            <button 
			         		 ng-click = "step.reverse(d)"	 		
			         		 class="button radius tiny left"
		                     style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
		              Inverse
		            </button>
		            <button  
		            		 ng-click = "step.clear(d)"	
			         		 class="button radius tiny left"
		                     style="margin:0.1em;padding-top:0.2rem; padding-bottom:0.2rem;">
		              Clear
		            </button>
			   	</div>
			</div>
			<div class="row" style="margin: 0 1.5em 0 1em;
								    padding: 0.5em;
								    border: 0.1rem solid #ddd;
								    text-align: justify;">
				<span 	ng-repeat="v in d.values | filter : d.filter" 
						
						ng-click = "step.select(d,v)"
						>
					&nbsp;	
					<a style="font-stretch: ultra-condensed;font-size: small;" ng-style="step.getItemStyle(v)">
						
						<img ng-if="step.lookup(v.label).icon" src="{{step.lookup(v.label).icon}}" width="24px" height="24px"/>
						{{(step.lookup(v.label).label) ? step.lookup(v.label).label : v.label | translate}}&nbsp;
					</a>
				</span>
			</div>   	
		</div>  
	<!-- showItemsOption:{{d.showItemsOption}}
	 -->


	</div><!--repeat d in dimension-->
</div>
<div class="row" ng-if="step.requestComplete">
	<h5 class="section-title" style="margin: 1em 0 0 1em;">
		Query Result
	   <button ng-click="step.addQuery()"
	           class="button radius tiny right success"
               style="margin:0 2em;padding-top:0.2rem; padding-bottom:0.2rem;">
              Add to Data Query Manager
       </button>
	</h5>
	
	<div style="overflow:auto; margin: 0 1em 0 1em; border: 0.1rem solid #ddd;">
		<center>
			<img ng-if="!step.wizard.context.table" src="./img/ajax-loader.gif"/>
			<wdc-table data="{table:step.wizard.context.table, decoration:{}}" ng-if="step.wizard.context.table"/>
		</center>
	</div>
</div>			