

.border {
 /* border: 1px solid #dfdfdf;*/
  padding: 0.5rem;
  margin: 0.5rem;
}

.widget.border {
  /*border: 1px solid #dfdfdf;*/
  padding: 0.5rem;
  margin: 0 0 0.5rem;
 /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;*/
}

.panel.wizard {
  background: #ffffff;
}

table tr th, table tr td {
  padding: 0.2rem 0.5rem;
  /*  font-size: 0.875rem;*/
  color: #222222;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;

}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  display: table-cell;
  line-height: 1.125rem;
  font-size: 0.7rem;
  padding: 0.2rem;
}

.rowid {
  background: #f5f5f5;
}

button.toolbar {
  padding: 0.4rem;
  font-size: 0.6875rem;
  border: 1px solid #dadada
}

div .toolbar {
  padding: 0.4rem;
  font-size: 0.6875rem;
  /*background-color: transparent;*/
  font-size: smaller;
}

.reveal-modal, dialog {
  visibility: hidden;
  display: none;
  position: absolute;
  z-index: 1005;
  width: 100vw;
  top: 0;
  border-radius: 3px;
  left: 0;
  background-color: white;
  padding: 0.75rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* padding: 1.875rem; */
}

select.wizard {
  padding: 0.3rem 0.5rem 0.3rem 0.1rem;
  /* width: inherit; */
  height: inherit;
  font-size: small;
  margin: 0;
}

input.wizard {
  padding: 0.3rem; 
  /*width: inherit;*/ 
  height: inherit;
  font-size: small;
  margin: 0 0 0.2rem 0;
}

label.wizard {
    padding: 0.3rem;
    font-size: small;
    font-stretch: semi-condensed;
    width: 10em;
}

label.wizard.section{
  font-weight: bold;
}

div.wizard.setting{
  /*background-color: #efefef;*/
  padding: 0;
  margin: 0.3rem 0.2rem 0 0;
  font-size: small;
}

h5.wizard.note {
  font-size: medium;
  font-style: italic;
  color: #015B79;
  margin: 1rem 2rem;
}

button.apply{
  clear: both;
  margin: 0 0 0.1rem 0;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
    background: #007095;
    color: #F5F5F5;
}


.accordion .accordion-navigation > a.active, .accordion dd > a.active {
    background: #007095;
    color: #F5F5F5;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: #fff;
  color: #008CBA;

  padding: 0.2em 0.5em;
  display: block;
  font-size: small;
  font-weight: bold;
  /*border: 1px solid #afafaf;*/
  margin: 0;
}

.accordion .accordion-navigation > .content, .accordion dd > .content {
  display: none;
  padding: .1rem;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  /*background: #efefef;*/
  background: #fff;
  margin: 0 0 0.1rem 0;
}

.axis {
  background: #FAFCA9;
  color: #E51919;
  text-align: center;
  font-weight: bold;
}  

.section-title {
    color: #61b6d9;
    font-weight: bold;
    font-stretch: semi-expanded;
    margin:0.5em 0 0 0;
}

.wizard-title {
    color: #61b6d9;
    font-weight: bold;
    font-stretch: extra-expanded;
    padding: 0.1em 1em;
}

.switch.tiny label {
    height: 1.5rem;
    margin: 0.3em;
    width: 3rem;
}

