<div ng-controller="AppListController">
  <div ng-repeat="app in apps | orderBy: 'name'" class="row">
    <span class="column small-4">
      <b ng-bind="app.name"></b>
      <span ng-if="app.owner.name">({{app.owner.name}})</span>
    </span>
    <a href="/app/{{app.name}}/"
       class="button tiny success column small-2"
       translate>
      WIDGET.APP-LIST.VIEW
    </a>
    <input type="button" class="button tiny column small-2"
           ng-disabled="!isOwner(app) && !isCollaborator(app)"
           translate translate-attr-value="WIDGET.APP-LIST.RENAME"
           ng-click="renameApp(app.id)">
    <a type="button" class="button tiny column small-2" style="background-color: #cdab42"
       target="_blank"
       href="/api/app/export/{{app.id}}"
       translate>WIDGET.APP-LIST.EXPORT</a>
    <input type="button" class="button alert tiny column small-2"
           ng-disabled="!isOwner(app) && !isCollaborator(app)"
           translate translate-attr-value="WIDGET.APP-LIST.DELETE"
           ng-click="deleteApp(app.id, app.name)">
  </div>
  <div ng-if="user.isLoggedIn">
    <form ng-submit="createApp()">
      <label><translate>WIDGET.APP-LIST.ADD_NEW_APP</translate>
        <input
          placeholder="{{'WIDGET.APP-LIST.APP_NAME' | translate }}" name="appName"
          ng-model="model.newAppName" autocomplete="off">
      </label><br>
      <input type="submit"
             translate translate-attr-value="WIDGET.APP-LIST.SUBMIT"
             class="button success tiny"
             disabled ng-disabled="!model.newAppName">
    </form>
    <form>
      <label><translate>WIDGET.APP-LIST.IMPORT_APP</translate>
        <input type="file" name="file"
               onchange="angular.element(this).scope().setImportFile(this.files[0])"
               required>
      </label>
      <input type="submit"
             translate
             translate-attr-value="WIDGET.APP-LIST.TO_IMPORT"
             class="button success tiny"
             ng-disabled="!importFile"
             ng-click="importApp()">
    </form>
  </div>
</div>
