<style>
	.container-hover {
	    margin-bottom: 2rem;
	    border-radius: 3px;
	    padding-top: 1rem;
	    padding-left: 1.5rem;
	    padding-right: 1rem;
	    padding-bottom: 0.25rem;
	    transition: all .25s ease-in-out;
	}
	.vertical-feature-block {
	    margin-bottom: 3rem;
	    text-align: center;
	}
	.center75em {
	    max-width: 75em !important;
	    float: none !important;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
</style>

<div class="row">
	<widget-holder name="banner"></widget-holder>
</div>

<div class="row center75em">
	<widget-holder name="header"></widget-holder>
</div>

<div class="row framework-callouts">
	<div class="medium-6 columns container-hover framework-mascot">
		<widget-holder name="callout0"></widget-holder>
	</div>
	<div class="medium-6 columns container-hover framework-mascot">
		<widget-holder name="callout1"></widget-holder>
	</div>
</div>

<div class="row center75em">
	<widget-holder name="main"></widget-holder>
</div>

